


/* ------------------------------------------------------------------
Google Fonts
------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/variants";
@import "tailwindcss/utilities";


html {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
}

body {
    font: 400 12px/1.8 "Montserrat", Verdana, sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
}



.pointer{
    cursor:pointer;
}
/* Selection */

::-moz-selection {
    background: #000;
    color: #fff;
}

::-webkit-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}


.cover {
    background-size: cover;
}

.contain {
    background-size: contain;
    background-position-x: 50%;
    background-repeat:no-repeat;
}




.nonez{
    display:none;
}

.hidez{
    visibility: hidden;
}

/* -------------------------------------------------------------------
MENU
------------------------------------------------------------------- */

.menu{
    height:70px;
    background:rgba(255, 255, 255, .95);
    border-bottom:1px solid #BBB;
    z-index:100;
}

.home{
    background:url(./skin/MMAINSLAB.png) no-repeat 50% 50% ;
    width:350px;
    height:100%;
}

.home.global_foothome{
    width:295px;
}

.menu li.others{
    height:100%;
    line-height:70px;
}



.pagehome .downloadwallet{
    display:block;
}


@media (min-width: 768px) {
    .nonez.evenoddblocks .describlock.even{
        position:relative;
        top:150px;
    }
    .flex.evenoddblocks .describlock.even{
        position:relative;
        top:150px;
    }
   
  }


/* -------------------------------------------------------------------
Sections
------------------------------------------------------------------- */
html{min-height:2450px}



.viewport3D{
    z-index:2;
}


.extractable{
    
    
}


.answer{
    display:none;
}


.opened .answer{
    display:block;
}

.indent{
    margin-left:-15px;
}

.opened .arrow{
    transform:rotate(-90deg);
}

.fullpage{
    z-index:10;
    position:relative;
}

.page{
    margin:0 30px;
}


.safe{
    width:748px;
    margin : 0 auto ;
}

.sectionsnav.safe{
    width:75%;    
}


.intro.safe{
    min-width:748px;
    width:95%;

}


.arr, .arr.right{
    /* transform: rotate(0deg); */
}

.left .arr, .arr.left{
    transform: rotate(180deg);
}
.down .arr, .arr.down{
    transform: rotate(45deg);
}
.up .arr, .arr.up{
    transform: rotate(-45deg);
}


.serieshome .narr{
    visibility:hidden
}

.serieshome:hover .narr{
    visibility:visible
}


/*
    COLORS
*/

.pureblue{color:#789bf3}
.pureblueBG{background:#789bf3}
.pureblueBD{border-color:#789bf3 !important}

.purelightblue{color:#b9caf5}
.purelightblueBG{background:#b9caf5}
.purelightblueBD{border-color:#b9caf5 !important}

.purelightestblue{color:#d5e1ff}
.purelightestblueBG{background:#d5e1ff}
.purelightestblueBD{border-color:#d5e1ff !important}

.purestblue{color:#dde6ff}
.purestblueBG{background:#dde6ff}
.purestblueBD{border-color:#dde6ff !important}

.purecolor{color:#3a6df0}
.purecolorBG{background:#3a6df0}
.purecolorBD{border-color:#3a6df0}



.purelightestblueToBG{
    background: rgb(221,230,255);
    background: linear-gradient(270deg, rgba(221,230,255,1) 0%, rgba(213,225,255,.7) 100%);
}



.purelightestblueFromBG{
    background: rgb(221,230,255);
    background: linear-gradient(90deg, rgba(221,230,255,1) 0%, rgba(213,225,255,.7) 100%);
}


.purelightestblueDownBG{
    background: rgb(221,230,255);
    background: linear-gradient(90deg, rgba(221,230,255,1) 0%, rgba(213,225,255,.7) 100%);
}
.purelightestblueUpBG{
    background: rgb(221,230,255);
    background: linear-gradient(270deg, rgba(221,230,255,1) 0%, rgba(213,225,255,.7) 100%);
}


.bluetranspBG{
    background: rgb(58,109,240);
    background: linear-gradient(90deg, rgba(58,109,240,1) 30%, rgba(58,109,240,.0) 60%);
    /* #3a6df0ff */
}

.puregradBG{
    background: rgb(120, 155, 243);
    background: linear-gradient(90deg, rgba(58,109,240,1) 0%, rgba(120, 155, 243,.4) 100%);
    /* #3a6df0ff */
}

.whitetranspBG{
    /* background:rgba(255,255,255,.65); */
    background:rgba(255,255,255,.45);
}

.whitetranspplusBG{
    background:rgba(255,255,255,.7);
}


.puretranspBG{
    background:rgba(221,230,255,.7) ;
}
.puretransp2BG{
    background:rgba(213,225,255,.7) ;
}


#mainloader{
    z-index:500;
}

@media (min-width: 1280px) {
    .xl\:\!w-24 {
      width: 6rem !important;
    }
}


.indent .narr{
    display:none !important ;
}


/*
    END COLORS
*/


hr {
    border-top: 1px dashed #3a6df0;
}

.graddown{
    background: rgb(58,109,240);
    background: linear-gradient(180deg, rgb(58,109,240) -50%, rgba(255,255,255,0) 25%)
}
.gradup{
    background: rgb(58,109,240);
    background: linear-gradient(0deg, rgb(58,109,240) -50%, rgba(255,255,255,0) 25%)
}



.puremain.pureseries em{
    background:url(./skin/Pure_Series.png) no-repeat 50% 50% ;
    width:35px;
    height:43px;
}
.puremain.pureseries.floatingseries{
    height:50px
}
.puremain.pureseries.floatingseries em{
    padding-left:40px;
    background-position-x:0
}

.signup ::placeholder{
    
    color:#3a6df0;
}

.walletBG{
    background:#3a6df0;
}
.walletcolor{
    color:#3a6df0;

}
.pureline{
    border:1px solid #789bf3;
    border-width:1px 0 0 0;
}

.floatingseries .pureline{
    border:1px solid #789bf3;
    border-width:0 0 1px 0;
}
.floatingseries .pureline.first{
    border:1px solid #789bf3;
    border-color:transparent #789bf3 #789bf3 #789bf3;
    border-width:1px 0 1px 0;
}
.pureline.double{
    border-width:1px 0;
}
.floatingseries ol li a{
    
}


.purechain .signup .floatL input{
    border: 1px solid #000;
    border-radius: 6px 0 0 0;
}
.purechain .signup .floatN input{
    border: 1px solid #000;
    border-radius: 0 0 6px 0;
}



.pureworld .imgblock{
    position:relative;
    top:-1px;
}
.pureworld .imgblock.cover{
    background-position: 50% 50%;
}



/* ------------------------------------------------------------------
Footer
------------------------------------------------------------------- */

.footer {
    background: #f5f5f5;
    padding: 20px 0;
}

.copyright {
    font-size: 14px;
}


/* ------------------------------------------------------------------
Patchwork
------------------------------------------------------------------- */

.works-grid {
    list-style: none;
    padding: 0;
    margin: 0;
}

.works-grid.works-grid-gut {
    margin: 0 0 0 -10px;
}

.works-grid.works-grid-gut .work-item {
    padding: 0 0 10px 10px;
}

.work-item {
    float: left;
    margin: 0;
}

.works-grid-3 .work-item {
    width: 33.333%;
}

.container>.works-grid-3 .work-item {
    width: 33.2%;
}

.works-grid-4 .work-item {
    width: 25%;
}

.work-item>a {
    position: relative;
    display: block;
    overflow: hidden;
}

.work-image {
    position: relative;
    overflow: hidden;
}

.work-image img {
    display: block;
    overflow: hidden;
    width: 100%;
}

.work-image:after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.work-caption {
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    text-align: center;
    overflow: hidden;
}

.work-title {
    /* font-size: 18px; */
    color: #fff;
    margin: 0 0 6px;
}

.work-descr {
    text-transform: uppercase;
    /* font-size: 14px; */
    color: #999;
}

.works-grid-4 .work-title {
    /* font-size: 14px; */
}

.works-grid-4 .work-descr {
    /* font-size: 12px; */
}

.work-item:hover .work-image:after {
    background: rgba(0, 0, 0, .7);
}

.work-item:hover .work-image>img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.work-item:hover .work-caption {
    bottom: 50%;
    opacity: 1;
    z-index: 3;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    transform: translateY(50%);
}

.works-grid.works-hover-w .work-title {
    color: #000;
}

.works-grid.works-hover-w .work-descr {
    color: #666;
}

.works-grid.works-hover-w .work-item:hover .work-image:after {
    background: rgba(255, 255, 255, .8);
}

.works-grid.works-hover-g .work-image:after {
    opacity: 0;
}

.works-grid.works-hover-g .work-title,
.works-grid.works-hover-g .work-descr {
    color: #000;
}

.work-details {
    margin: 0 0 20px;
}

.work-details-title {
    color: #000;
    margin: 0 0 20px;
}

.work-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.work-details ul>li {
    margin: 0 0 10px;
}

.work-title>i,
.work-title>span {
    font-size: 30px;
}


/* ------------------------------------------------------------------
Preloader
------------------------------------------------------------------- */

.loader {
    position: absolute;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #3a6df0;
    height: 46px;
    width: 46px;
    left: 50%;
    top: 50%;
    margin: -23px 0 0 -23px;
    font-size: 10px;
    /* z-index: 9999; */
    -webkit-animation: load 0.8s infinite linear;
    -moz-animation: load 0.8s infinite linear;
    ms-animation: load 0.8s infinite linear;
    o-animation: load 0.8s infinite linear;
    animation: load 0.8s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* -------------------------------------------------------------------
Responsive Media Querries
------------------------------------------------------------------- */

@media (min-width: 768px) {
    .align-right {
        text-align: right;
    }
    .navbar-transparent {
        background: transparent;
        border: 0 !important;
        border-color: #f5f5f5 !important;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .navbar-transparent .nav li>a,
    .navbar-transparent .navbar-brand {
        color: #fff;
    }
    .navbar-transparent .dropdown-menu>li>a {
        color: #666;
    }
    .nabar-dark .nav>li>a,
    .nabar-dark .navbar-brand {
        color: #000;
    }
    .navbar-custom .dropdown-menu .dropdown-toggle:after {
        position: absolute;
        display: block;
        right: 9px;
        top: 50%;
        margin-top: -6px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 9px;
        content: "\f105";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .navbar-custom .dropdown-menu {
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
    }
    .navbar-custom .open>.dropdown-menu {
        visibility: visible;
        opacity: 1;
    }
    .navbar-right .dropdown-menu {
        right: auto;
        left: 0;
    }
    /* Comments */
    .comment .comment {
        margin-left: 75px;
    }
}

@media (max-width: 991px) {
    /* Headers */
    .hs-title-size-3 {
        font-size: 24px;
    }
    .hs-title-size-4 {
        font-size: 32px;
    }
    .work-item,
    .works-grid-3 .work-item,
    .works-grid-4 .work-item,
    .works-grid-5 .work-item {
        width: 50%;
        height: 25vw !important;
    }
}

@media (max-width: 767px) {
    /* Navbar */
    .right .hs-title-size-3 span.whiteBG {
        float: none !important;
    }
    .navbar-custom .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .navbar-custom li a:hover {
        /* background: #f5f5f5 !important; */
    }
    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-custom .navbar-nav .open .dropdown-menu>li>a {
        padding: 10px 25px;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu .dropdown-header,
    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu>li>a {
        padding: 10px 35px;
    }
    .navbar-custom .navbar-nav>.dropdown>.dropdown-toggle:after,
    .navbar-custom .dropdown-toggle:after,
    .navbar-custom .dropdown-menu .dropdown-toggle:after {
        right: 7px;
        content: "\f107";
    }
    .navbar-custom .navbar-nav>.open>.dropdown-toggle:after,
    .navbar-custom .nav>.open>.dropdown-toggle:after,
    .navbar-custom .dropdown-menu .dropdown.open .dropdown-toggle:after {
        content: "\f106";
    }
    .navbar-custom .navbar-collapse {
        border-top: 1px solid #f5f5f5;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /* Headers */
    .hs-title-size-1 {
        font-size: 12px;
    }
    .hs-title-size-2 {
        font-size: 16px;
    }
    .hs-title-size-3 {
        font-size: 20px;
    }
    .hs-title-size-4 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .work-item,
    .works-grid-3 .work-item,
    .works-grid-4 .work-item,
    .works-grid-5 .work-item {
        width: 100%;
        height: 50vw !important;
    }
}

.p-introduction__follow.is-shown {
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 3s;
}

.p-introduction__follow {
    width: 15px;
    height: 5vh;
    overflow: hidden;
    position: relative;
    margin: 0 auto 0;
    opacity: 0;
    transition-property: opacity;
}

.p-introduction__follow-in--1 {
    left: 0;
}

.p-introduction__follow-in--2 {
    left: 50%;
    margin-left: -1px;
    animation-delay: .05s;
}

.p-introduction__follow-in--3 {
    right: 0;
    animation-delay: .10s;
}

.p-introduction__follow-in {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #FFF;
    animation-name: loopFollow;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}

@keyframes loopFollow {
    0% {
        -webkit-transform: translateY(-100.5%);
        transform: translateY(-100.5%);
    }
    100% {
        -webkit-transform: translateY(100.5%);
        transform: translateY(100.5%);
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.topbar {
    z-index: 400
}


/* 
 */

.inconsolata {
    font-family: 'Inconsolata';
}

.montserrat {
    font-family: 'montserrat';
    /* font-family: 'Roboto', sans-serif; */
}

.rhdp {
    font-family: 'Red Hat Display', sans-serif;
}

.heavy {
    font-weight: 900
}

.caption-content.bottom {
    vertical-align: bottom;
    text-align: center;
    padding: 140px 0;
}

.btn.btn-border-slider-white {
    background: white none repeat scroll 0 0;
    border: 1px solid #000;
    color: #000;
}

.btn.btn-border-slider-black {
    background: black none repeat scroll 0 0;
    border: 1px solid #000;
    color: #fff;
}

.fat-link {
    font-weight: 800;
}

.list-intro {
    margin-bottom: 0;
}

a.parentlink {
    color: #fff;
}


/* 100 % */

.red {
    color: #ff0000;
    font-weight: 800;
}

.height50 {
    height: 50%;
}

.navbar .home a {
    width: 75px;
    height: 100%;
    background: url(./skin/dkt_white.png) no-repeat left -50px;
}

.navbar .home a span {
    visibility: hidden;
}


.navbar li.home {
    background:transparent
}

.navbar li.home.active {
    background:white
}

.navbar {
    border: 0 !important;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
}

.navbar-fixed-top {
    top: 0;
}

.zind30 {
    z-index: 300
}


.btn {
    border-radius: 0;
}

.rounded {
    border-radius: 6px;
}
.Lrounded {
    border-radius: 4px 0 0 4px;
}
.Rrounded {
    border-radius:0 4px 4px 0;
}

.introrounded{
    border-radius:4px 0 4px 0;
}


/* CSS TRANSITION EFFECTS */

.slide-zoom {
    transform:scale(1);/*  */
    /* -webkit-transition: transform 10s ease; */
    /* -moz-transition: transform 10s ease; */
    /* -ms-transition: transform 10s ease; */
    /* -o-transition: transform 10s ease; */
}

.inited .slide-zoom {
     transform:scale(1.1);
	transition: transform 10s ease; /**/
}

.round{
    border-radius: 6px;
}

.round23{
    border-radius: 23px;
}

.round.left {
    border-radius: 6px 0 0 0;
}

.round.right {
    border-radius: 0 0 6px 0;
}

.round.both {
    border-radius: 6px 0 6px 0;
}

.navbar {
    color: white;
    background: transparent;
}

.navbar a {
    color: white;
    /*transition: all 0.125s ease-in-out 0s;*/
    font-size: 13px;
    letter-spacing: .1em;
}

.overnav {
    background: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

.overnav a {
    color: #888;
}

.overnav .home a {
    background-position: left top;
}

.cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.biglogo {
    height: 100px;
    background: url(/img/logo_big_red.png) no-repeat 50% 50%;
}

.dkt {
    color: #9d1639;
}

.dktBG {
    background: #9d1639;
}

.introBD {
    border: 1px solid #3a6df0;
}

.introcolor{color:#9b68bd}

.bottomBD{
    border-width:0 0 1px 0 ;
}

.introBG{
    
    background:#3a6df0 ;
}

.contact .dktTOPBD {
    border-top: 1px dashed #9d1639;
}

.lightdkt {
    color: #E1647C;
}

.lightdktBG {
    background: #E1647C;
}

.lightdktBD {
    border: 1px solid #E1647C;
}

hr {
    margin: 0;
    padding: 0;
    height: 0
}


/* .about .dkt{
	color:#169d65;
}
.about .dktBG{
	background:#169d65;
}
.about .dktBD{
	border:1px solid #169d65;
}
.about .dktTOPBD{
	border-top:1px dashed #169d65
} */


/* 
.contact .dkt{
	color:#132645;
}
.contact .dktBG{
	background:#132645;
}
.contact .dktBD{
	border:1px solid #132645;
}
.contact .dktTOPBD{
	border-top:1px dashed #132645
} */

.formBG {
    border: 0px !important;
    background: #F3F3F3;
}

.ocreBG {
    background: #e3dcd5;
}

.ocre {
    color: #e3dcd5;
}

.ocreBD {
    border: 1px solid #e3dcd5;
}

.work-item {
    cursor: pointer;
}

.half .work-item {
    /* width:25%; */
}

.half .work-item * {
    font-size: 90% !important;
}

.half .darkBG {
    background: #8C8C8C !important;
}

.extra.height50 .caption-content {
    padding: 0 0 35px 0 !important;
}


/* .hs-title-size-3 span.whiteBG{ */


/* float:left; */


/* } */

.right .hs-title-size-3 span.whiteBG {
    float: right;
}

.others .active a {
    background: white;
}

.slideshow .caption-content.vmiddle {
    vertical-align: middle !important;
}

.work-item {
    height: 12.5vw;
}

.work-item {
    height: 12.5vw;
}

.home_patchwork .work-item {
    width: 50% !important;
    height: 25vw;
}

.active.lang a {
    color: #9d1639 !important;
    background: white;
}


/* TOP MENU */

.sectionsnav .others.active a,
.sectionsnav .others.over a {
    color: #9d1639;
    background: white;
}

.sectionsnav .others ol {
    display: none;
}

.sectionsnav .others.over ol {
    display: block;
}

.sectionsnav .others.over ol {
    display: block;
}

.sectionsnav .others ol a {
    color: #434343 !important;
}

.sectionsnav .others ol a:hover {
    color: #9d1639 !important;
    background: #e3dcd5 !important;
}

.sectionsnav .others ol li.active a {
    color: #FFF !important;
    background: #9d1639 !important;
}

.sectionsnav .home.active a {
    background-position: 0 0;
}

.page {
    /* padding-bottom:150px; */
}

.padEnd {
    padding-bottom: 150px;
}

.noMQ {
    width: 100% !important;
}





.greyhover .gowhite{background:#E8E8E8}

.cat{border-bottom:1px solid #e3dcd5}


.slidetxt{background:rgba(0,0,0,.4)}


.adaptH{height:400px}


.pics .arrow.next, .pics .arrow.next a {border-radius:4px 0 0 4px}
.pics .arrow.prev, .pics .arrow.prev a {border-radius:0 4px 4px 0}

.pics .arrow.next a {
    /* background: url(./skin/next-light.png) no-repeat 50% 50%; */
}

.pics .arrow.prev a {
    /* background: url(./skin/prev-light.png) no-repeat 50% 50%; */
}

.to_products:hover .none {
    display: block !important
}

.to_products:hover .linker {
    display: none !important
}

.to_products .work-item:hover .work-image::after {
    background: rgba(157, 22, 57, .9);
}

.to_products.next .work-item {
    cursor: url(./skin/next-light.png), e-resize;
}

.to_products.prev .work-item {
    cursor: url(./skin/prev-light.png), e-resize;
}

.to_products {
    height: 300px;
    width: 400px;
}

.subsection a:hover {
    color: #9d1639;
    background: #e3dcd5;
}

.subsection .active a {
    color: #FFF;
    background: #9d1639;
}

.endlogo {
    width: 80px;
    height: 50px;
    background: url(./skin/dkt_white.png) no-repeat -100px -50px;
}

.footer .btn.btn-border-slider-white {
    background: transparent;
}

.special {
    -webkit-box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.28);
    box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.28);
}

.tables {
    cursor: default
}

.tables tr {
    margin-top: 1px;
    background: #E8E8E8;
}


/* 
.tables tr:hover td{background:#e3dcd5;color:#9d1639}
.tables tr:hover td.bold{color:#E1647C} */

.topbar textarea {
    display: none
}

.dkt.links .bt {
    border-color: #9d1639;
}

.dkt.links .gowhite {
    color: #9d1639;
}

.dkt.links .goblack {
    color: white;
}

.noproduct .dkt.noBd .dktBG {
    background: rgba(255, 255, 255, .1);
}

.hs-caption.container a.goblack:hover{
    background: #9d1639;
}

.hs-caption.container a.gowhite:hover{
    background: #FFF;
    color:#9d1639
}

.noproduct .dkt.noBd .whiteBG {
    background: rgba(255, 255, 255, .05);
    color: rgba(255, 255, 255, .6);
}

.slideprev {
    cursor: url(./skin/prev-light.png), auto;
}

.slidenext {
    cursor: url(./skin/next-light.png), auto;
}

.slidedown {
    cursor: url(./skin/down-light.png), auto;
}
.slidetop {
    cursor: url(./skin/up-light.png), auto;
}

.bt {
    border: 1px solid transparent;
    display: inline-block;
    padding: .5em 2em;
    font-family: "Inconsolata", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.noBd .bt {
    border: 0px;
}

.noselect {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
}

.close_btn {
    border-radius: 0 0 0 6px !important
}

pre {
    border: 0;
    background: transparent;
    padding: 0 !important;
    margin: 0 !important;
}

code {
    display: block;
    padding: 15px !important;
    margin: 0 !important;
    border-left: 1px dashed #9d1639;
    border-right: 1px dashed #9d1639;
    background: #222;
}


/* MARKDOWN CUSTOMS */

.hpintro strong {
    font-weight: bold;
}

.hpintro h2 {
    margin-bottom: 2em;
    font-size: 140%;
}

.hpintro .arr {
    width: 40px;
    height: 40px;
}

.hpintro .arr.arrnext {
    background: url(./skin/next-light.png) no-repeat left top;
}

.hpintro .arr.arrprev {
    background: url(./skin/prev-light.png) no-repeat left top;
}

.why strong {
    font-weight: bold;
    color: #434343;
}

.why em {
    /* font-style:italic; */
    color: #9d1639;
}

.why h2 {
    margin-bottom: 1em;
    font-size: 140%;
}

.marked h2 {
    font-size: 140%;
}

.marked strong {
    font-weight: bold;
}

.marked em {
    color: #9d1639;
}

#contact .marked em {
    color: #132645;
}

.subsection {
    border-top: 10px solid #9d1639;
    border-bottom: 10px solid #9d1639;
}

.lazy {
    /* background:url('/img/7YRL.gif'); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.icons {
    /*  */
}

.icon {}

.icon a {
    /*  */
    width: 40px;
    height: 40px;
    background-image: url('./skin/icons.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.icon a:hover {
    background-position-y: -60px
}

.icon .CPC {
    background-position-x: 0;
}

.icon .INFEED {
    background-position-x: -40px;
}

.icon .SLOT_DIE {
    background-position-x: -80px;
}

.icon .UN_REWINDER {
    background-position-x: -120px;
}

.icon .ACCUMULATOR {
    background-position-x: -160px;
}

.icon .WAVE {
    background-position-x: -200px;
}

.icon .COMMA {
    background-position-x: -240px;
}

.icon .MICROGRAVURE {
    background-position-x: -280px;
}

.icon .HEAT_CHAMBER {
    background-position-x: -320px;
}

.icon .GAPROLL {
    background-position-x: -360px;
}

.icon .FLOATING_CHAMBER {
    background-position-x: -400px;
}

.icon .LOW_UV_CHAMBER {
    background-position-x: -440px;
}

.icon .HIGH_UV_CHAMBER {
    background-position-x: -520px;
}