//- - console.log(footnavlinks)
- footnavlinks = (footnavlinks.data) ? footnavlinks.data : footnavlinks ;
+log(footnavlinks) ;
	
#foot.black.foot.rel.BpadXXXXLg.whiteBG.none(style="border-top:1px solid #CCC;z-index:300")
	+grad('up')
	.foothome.mar(style="height:40px")
		.home(id= "global_foot_" + 'home', class= "global_foot" + 'home')
			//-a.block.fullW.fullH(href= '/#/' + lang + '/home/')
			a.block.fullW.fullH(href= '/#/home/')
			span.hidden= t('MMAI')
	
	.copyright.abs.right0.bottom0 
		span.block.foggy.sizeSm.RmarXXXLg.Bmar &copy; MMAI 2023 - 2024
	nav.footnav.mar.HmarXXLg.txtL
		
		ol.line
			- for(let i = 0 ; i < footnavlinks.length ; i++){
				li.unit.BpadXXXXLg(class= i == 3 ? "lastUnit floatR txtR" : i == 1 ? "size1of5 oddy" : "size1of5")
					- let head = footnavlinks[i] ;
					- let children = head.children ;
					h6.BmarLg.sizeXLg.bolder= head.name 
					- if(children){
						- let l = children.length ;
						ul.sub
							- for(let j = 0 ; j < l ; j++ ){
								- let item = head.children[j] ;
								li
									a.block(href=('#'+item.link) || "javascript:void(0)", class= item.link ? "" : "unclickable")
										span !{item.content}
							- }	
					- }
			- }