

.fullW.fullH.txtC.rel.pureline
	.introseries.sizeXXXLg
		.page
			.eco.abs.flowvisible.top0.bottom0.left0.right0.purelightestblueBG
				- let series = [] ;
				- series.push({name:"Chain"}) ;
				- series.push({name:"Wallet"}) ;
				- series.push({name:"Certificates"}) ;
				- series.push({name:"Voting"}) ;
				- series.push({name:"Medical"}) ;
				- series.push({name:"Media"}) ;
				- series.push({name:"World"}) ;
				- let ls = series.length ;

				//- "Chain", "Wallet", "Certificates", "Voting", "Medical", "Media", "World"
				.abs.left0.puremain.pureseries.floatingseries.LmarXXLg.pureblue(style="width:350px;top:130px;z-index:301")
					.abs.right0.top0.rounded-md.purecolorBG.HpadSm.VpadXSm(style="top:-40px")
						a.up.rel.zi3(style="" href="javascript:void(0)") 
							+arrow_dotted_up()
						a.down.rel.zi3.TmarSm.white(style="bottom:0" href="javascript:void(0)") 
							+arrow_dotted_down()
					ol.txtL.pureblue.rel(style="top:0px")
						li
							a.dark.block.first.HpadSm.txtL(href="javascript:void(0)")
								em.bolder.fullH Pure
									b.LmarXXSm.fw5 Series
						
						
						- for(let i = 0 ; i < ls ; i++){
							li
								a.block.bolder.HpadSm(href="javascript:void(0)" style="opacity:" + (.8 - ((i)*.2)) + ";")
									em.bolder.fullH Pure
										b.fw5.LmarXXSm #{series[i].name}	
						- }
				
				.slides.dark
					.slide.textes.abs(style="bottom:20px;left:45px;margin-right:20px;width:350px;z-index:300")
						.rounded-3xl.p-6.txtL
							.catchphrase.sizeSm(class="sm:sizeR")
								h4.montserrat.bolder.sizeXXXLg.lh1 The Ecosystem
							.othertextes.sizeSm.TmarXXLg.lh1.pureblue.context
								h3.bold We are ensuring a safe place <br />where all your expectations converge.
								.Tmar.lh1.purecolor
									p.sizeSm Our technology brings a plethora of innovative<br />ideas to inspire developers, create modern platforms<br />and satisfy the needs of W3 evolution.
							.browseeco.TmarXXXLg.txtR.sizeXSm.rel(style="margin-right:-25px")
								+normalbutton("Browse Ecosystem", "#/features/")
					- for(let i = 0 ; i < ls ; i++) {
						.none.slide.textes.abs.fullH.fullW.left0.right0
							.abs.left0.right0.top0(style="bottom:220px;")
								.rel.fullH.fullW.grid.content-end.place-items-end.noselect
									.back.abs.right0.cover(style="width:60%;min-width:435px;top:130px;bottom:100px;background-image:url('/img/visuals/back_0" + (i+1) + ".jpg')")
										.abs.bottom0.visual(style="width:795px;height:520px;bottom:-30px;left:-50px;")
											img.fullW.fullH(src="/img/visuals/viz_0" + (i+1) + ".png", alt="")
									.rel.dark.txtL.pureline.puretransp2BG.p-10.zi3(style="width:60%;min-width:435px;border-width:1px 0")
										.catchphrase.sizeXSm(class="sm:sizeR")
											h4.montserrat.sizeXXXLg.lh1 #[b.bolder Pure] #{series[i].name}
										.othertextes.sizeSm.TmarXXLg.lh1 
											h3 We are ensuring a safe place <br />where all your expectations converge.
											.TmarXXXLg.lh1
												p.sizeSm Our technology brings a plethora of innovative<br />ideas to inspire developers, create modern platforms<br />and satisfy the needs of W3 evolution.
											//-.Tmar.txtR.Rmar0.sizeSm.rel(style="margin-right:-25px")
												+smallbutton("More", "#/features/")
										

					- }