

//- INTRO PURE SERIES
.page.rel.fullH.txtC.purechain.black
	
	.intro.safe.txtL(style="padding-top:30px")
		.introblock.sizeXXXLg.TmarXXXLg.TpadXXXLg
			.puremain.pureseries.TmarXXXLg.context
				span.block.floatL
					em.block
						span.none P
				b.bolder Pure 
				span Chain
			.textblock.TmarXXXLg.TpadXXXLg
				.catchphrase
					h1.thinest.sizeXXXLg.lh1 The Era of Blockchain, #[br] Networks and Metaverses
				
				

				//- .container.px-5.py-24.mx-auto
					.flex.flex-wrap.-m-12
						.p-8.flex.flex-col.items-start(class='md:w-1/2')
							.sizeSm.TmarXXLg.lh1 Reliable Certificates, Quick Transactions, #[br] Media and Contents Authoring, #[br] Gaming Platforms, Meta-Malls, #[br] Mized Reality and more...
						.p-8.flex.flex-col.items-start(class='md:w-1/2')
							.signup.TmarXXLg.sizeSm.context
								h3.sizeLg.bold Get started
								+signuphome
				a.group.block.max-w-xs.mx-auto.rounded-lg.p-6.bg-white.ring-1.shadow-lg.space-y-3(href='#' class='ring-slate-900/5 hover:bg-sky-500 hover:ring-sky-500')
					.flex.items-center.space-x-3
						svg.h-6.w-6.stroke-sky-500(class='group-hover:stroke-white' fill='none' viewBox='0 0 24 24')
							
						h3.text-slate-900.text-sm.font-semibold(class='group-hover:text-white') New project
					p.text-slate-500.text-sm(class='group-hover:text-white') Create a new project from a variety of starting templates.

				
				
				.flex.grid.grid-cols-1.gap-5.content-center
					.sizeSm.TmarXXLg.lh1 Reliable Certificates, Quick Transactions, #[br] Media and Contents Authoring, #[br] Gaming Platforms, Meta-Malls, #[br] Mized Reality and more...
					.signup.TmarXXLg.sizeSm.context
						h3.sizeLg.bold Get started
						+signuphome
	.scrolldown.abs.txtC.left0.right0(style="bottom:25px")
		.safe.context
			a.inlineblock.pad.HpadXLg.round23.blackBG.white.marginauto(href="#/home/purewallet/")
				span Discover the Ecosystem






