


.rel.fullW.fullH.txtC.purecolor.pureworld.pureline
	.introworld.fullH.sizeXXXLg
		.intro.safe.fullH.txtR(style="padding:0;")
			.textzone.abs.left0.right50.top0.bottom0
				.txtL.LmarXXLg
					.catchphrase.TmarXXXLg.TpadXXXLg
						h1.montserrat.bolder.TpadXXXLg.sizeXXXLg.lh1 Unreal <br /> meets Unity
					.sizeSm.TmarXXLg.lh1.RmarXXLg
						h3.TmarXXLg The Journey into <br />Mixed Reality Realms
					.puremain.pureseries.TmarXXXLg.context
							span.block.floatL
								em.block
									span.none P	
							b.bolder.floatL Pure 
							span.floatL World
					.sizeSm.TmarXXLg.lh1.RmarXXLg
						p.sizeSm Towards a new Gaming, <br />Tourism, Shopping<br />and Social Experience
						
				.textblock.abs.bottom0.BmarXXXLg.left0.right0
					.sizeSm.RpadXLg.TmarXXLg
						.Tpad
							.lh1.RmarXLg
								p.sizeSm High-Quality, Surreal <br />Metaverse Virtual Space

							.sizeSm.TmarXLg.RmarXXLg.floatR
								+normalbutton("Join Waiting List", null, null, "darkBG white")
								
			.imagezone.abs.left50.right0.top0.bottom0
				.img_cont.block.fullW.fullH
					.abs.imgblock.fullW.cover(style="top:-1px;bottom:-1px;background-image:url(/img/world_bg.png)")
						span.fullW.fullH.block.hidden IMAGE
							