


.rel.fullW.fullH.txtC.white.pureworld
	
	.prev.abs(style="top:95px;z-index: 50;").txtC.right0.RmarXXXLg
		+smallbutton('Previous', '#/home/pureseries/')
	.introworld.fullH
		.grid.fullH.place-items-center.fullW
			.purecolorBG(style="height:500px;width:100%").rel.pureline.double
				+grad('down', true)
				+grad('up', true)
				.line.white.fullH.flowvisible
					.unit.imagezone.fullH.rel.floatR.size1of2
						.abs.imgblock.fullW.fullH.cover.left0.right0(style="background-image:url(/img/world/Background_01.jpg)")
							span.fullW.fullH.block.hidden World Background
						.abs.layerblock.fullW.fullH.left0.right0.bluetranspBG(style="background-image:url(/img/world/CharacterImage.png);background-repeat:no-repeat;background-position:right bottom;background-size:contain;")
							span.fullW.fullH.block.hidden Main Character
					.unit.textzone.context.lastUnit
						.txtL.LmarXXLg.BmarXXXLg
							.TmarXXXLg.context
								.test.TmarXXLg(style="max-width:600px")
									+pureseries_SVG('world')
							.catchphrase.TmarXXXLg.TpadXLg
								h3.montserrat.bolder.sizeXXXLg.lh1 Your Gateway to the Thriving Metaverse #[br]#[br]#[p.purelightestblue Experience. Connect. Create.]

							.sizeSm.TmarXXLg.lh1.RmarXXLg.sizeLg.purelightestblue
								p(style="max-width:450px")
									| Welcome to #[b PureWorld], a vibrant metaverse built on the power of Web3. #[br]Unleash a world of possibilities:#[br] 
									| #[b Immerse Yourself] : Dive into stunning visuals and a user-friendly interface that makes exploring and interacting seamless.#[br] 
									| #[b Unleash Your Creativity] : Become a Builder! #[b PureWorld] empowers you to create and share your own experiences with ease. #[br]
									| #[b Connect with the Community] : Forge new connections, engage in shared experiences, and discover endless possibilities within #[b PureWorld].
						.sizeSm.TmarXXXLg.RmarXXLg.floatR
							.TmarXXLg
								+normalbutton("Starting Soon")
									
				
								