
- let wallets = [] ;
- wallets.push({title:"#[span.pureblue Effortless] Transactions,#[br]  Powerful #[span.pureblue Security]", desc:"#[b PureWallet] #[b.pureblue simplifies] managing your crypto assets.#[b.pureblue Enjoy:] #[br]#[b.pureblue Faster Transactions] : Experience #[b.pureblue lightning-fast] transactions powered by our #[b.pureblue exclusive blockchain] technology, #[b.pureblue reducing] waiting #[b.pureblue times] and transaction #[b.pureblue fees].#[br]#[b.pureblue Enhanced Security] : PureWallet #[b.pureblue prioritizes security] with advanced features to #[b.pureblue keep your crypto safe].#[br]#[b.pureblue Versatility] : Whether it is #[b.pureblue micropayments, bulk transactions], or everyday #[b.pureblue purchases], #[b PureWallet] handles it all #[b.pureblue seamlessly]."}) ;
- wallets.push({title:"#[span.pureblue Offline] Mobile #[br] Electronic #[span.pureblue Wallet]", desc:"Enables #[b.pureblue access] to #[b.pureblue modern financial services]#[br]even in #[b.pureblue limited infrastructure environments]. #[br]#[br] Economically empowers emerging countries #[br] through #[b.pureblue offline banking] functions, #[br] providing the opportunity #[br] to gracefully enter the #[b.pureblue global digital economy]."}) ;
- wallets.push({title:"Hardware-Free #[br]#[span.pureblue Cold Storage] ", desc:"Pure Wallet provides an #[b.pureblue Offline Token-based]#[br]rather than the commonly used Hardware-based #[b.pureblue Cold Storage] method.#[br] #[br] Generally hard-wallets need#[br] hardware in order to #[b.pureblue get crypto] #[br]in the physical world.#[br]But this #[b.pureblue Cold Storage] allows it #[br] #[b.pureblue without need for any hardware]."}) ;
- let l = wallets.length ;








.page.rel.fullH.txtC.slides.purewallet
	.prev.abs(style="top:95px;z-index: 50;").txtC.right0
		+smallbutton('Previous', '#/home/purechain/', null, null, 'hideOnSmart')
	.next.abs(style="bottom:25px;z-index: 50;").txtC.left0.right0
		+smallbutton('Continue', '#/home/pureseries/', null, null, 'hideOnSmart')
	.slidenav.abs(style="bottom:0px; z-index: 50;left: auto;right: 20px;").txtC.left0.right0
		ol.context.inlineblock.marginauto.widthauto.pureblue
			- for(i = 0 ; i < l ; i++){
				li.floatL.sizeXXXLg.HpadXXXSm
					a.sizeXXXLg.block(href="javascript:void(0)", class= (i==0)? 'walletcolor' :'') •
			- }
	
	.abs.arrows.fullW.fullH
		a.abs.zi3.arrowright.w-8.h-12.top50.black.right0(href="javascript:void(0)" style="margin-top:-10px;margin-right:-15px") 
			+arrow_dotted_right('right', false)
					
		a.abs.zi3.arrowleft.w-8.h-12.top50.foggy.left0(href="javascript:void(0)" style="margin-top:-10px;margin-left:-15px") 
			+arrow_dotted_left('left', false)
	.test.abs.top0.left0.purecolor(style="height:45px;margin-top:80px")
		+pureseries_SVG('wallet')
	.slides.rel.fullW.fullH(style="left:0%")
		
		- for(i = 0 ; i < l ; i++){
			.relative.slide.abs.fullW.fullH.grid.grid-cols-1.content-center(style="left:"+ i*100 +"%")
				- let wally = wallets[i] ;
				
				section.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
					.flex.flex-wrap.flex-col.gap-y-4.flex-col-reverse(class="sm:flex-row")
						.phonetextblock.relative.pt-0.zi3(style="top:-300px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
							.px-8.pt-8.pb-4
								.txtR.darker.sizeLg.whitetranspplusBG
									h2.text-start.text-2xl.bold.mt-0.mb-6.min-w-max.leading-tight(class="sm:text-4xl")
										!= render('| ' + wally.title) 
									hr.mb-6
									.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
										.mt-2
											p.mt-2.txtL.text-xs(class="sm:text-md")
												!= render('| ' + wally.desc) 
												
							.txtR.HmarLg
								+consolebutton('Discover More', '#/wallet/')
						.phoneshot.pt-16.relative(class="w-full sm:pt-0 sm:w-2/5 sm:static" style="top:"+ (i==0 ? 120 : 80) +"px")
							.p-8
								.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
									.rel.left-10
										+pureseries_SVG('wallet')
									img.mt-10.object-fill(src="/img/wallet/phone_screen_0"+ (i + 1) +".png", alt="")
				
				
		- }
									
									
									
		