



.fullW.fullH.txtC.black.rel.pureseries.pureline
	.introseries.sizeXXXLg.whiteBG
		.page
			.intro.safe.txtL(style="padding:20px 0 40px 0;")
				.puremain.pureseries.TmarXXXLg.context
					span.block.floatL
						em.block
							span.none P
					b.bolder Pure 
					span Series
				.textes.abs(style="bottom:130px")
					.catchphrase.TmarXXXLg.TpadXXXLg
						h1.montserrat.bolder.sizeXXXLg.lh1 The Ecosystem
					.sizeSm.TmarXXLg.lh1 
						h3 We are ensuring a safe place <br />where all your expectations converge.
						.TmarXXXLg.lh1
									p.sizeSm Our technology brings a plethora of innovative<br />ideas to inspire developers, create modern platforms<br />and satisfy the needs of W3 evolution.
				.partners.abs.bottom0.left0.right0
					
					.partnersboxing.rel.context(style="width:1800px")
						- for(let i = 0 ; i < 12 ; i++){
							.cont.darkBG.floatL(style="width:150px;height:100px")
								span.hidden <!-- -->
						- } 
					.partnerstext.abs.top0.left0.right0 
						.intro.safe.txtL.white
							h6.Lmar
								span.sizeSm.bolder Our Partners
						

	//- .eco.abs.top50.bottom0.left0.right0.flowhidden(style="bottom:1px")
		//- img.inlineblock.fullH.rel(src="/img/pureseries_eco.png", alt="", style="top:-50px")