
- let l = 6 ;

.page.rel.fullH.txtC.slides.purewallet.flowhidden
	.slidenav.abs(style="bottom:55px;z-index: 50;").txtC.left0.right0
		ol.context.inlineblock.marginauto.widthauto
			- for(i = 0 ; i < l ; i++){
				li.floatL.sizeXXXLg.HpadXXXSm
					a.sizeXXXLg.block(href="javascript:void(0)", class= (i==0)? 'walletcolor' :'') •
			- }
	
	.slides.rel.fullW.fullH(style="left:0%")
		
		- for(i = 0 ; i < l ; i++){
			.slide.abs.fullW.fullH(style="left:"+ i*100 +"%")
				.safe.black.txtL(style="padding-top:30px")
					.introblock.sizeXXXLg.TmarXXXLg.TpadXXXLg
						.puremain.pureseries.TmarXXXLg.context.LpadXXLg
							span.block.floatL
								em.block
									span.none P
							b.bolder Pure 
							span Wallet
					
					.slidezone.line.context
						.unit.size2of5.visual
							.img_cont(style="width:280px")
								img.block(src="/img/phone_main.png")
						.unit.lastunit.textes.TmarXXXLg.TpadXXLg.sizeLg
							h2.montserrat.bolder.VpadXXXLg.sizeXXLg.lh1.Lpad(style="border-left:1px solid #3a6df0;") Offline Blockchain <br />Mobile Wallet
							.TmarXXLg.BmarXXXLg.lh1.LpadXXLg.sizeLg Easy and Offline Transfers, <br /> Purchase and Swap <br />Cryptocurrencies
							
							.TmarXXXLg.lh1(style="border-left:1px solid #3a6df0;")
								.LpadXXXLg.BpadSm
									p.sizeSm Benefit of the latest innovative <br />Blockchain technology improvements<br />and handle all your cryptocurrencies <br />in one single place.
							
								.TmarXLg
									a.inlineblock.walletBG.white.pad.VpadSm.thin.round.right(href="#")
										span Learn More
		- }
									
									
									
		