
//- INTRO PURE SERIES

.page.rel.fullH.txtC
    .intro.safe.black.txtL(style="padding-top:30px")
        .introblock.sizeXXXLg.TmarXXXLg.TpadXXXLg
            .puremain.pureseries.TmarXXXLg.context
                span.block.floatL
                    em.block
                        span.none P
                b.bolder Pure 
                span Series
            .TmarXXXLg.TpadXXXLg
                h1.montserrat.bolder.sizeXXXLg.lh1 The Era of Blockchain, <br />Networks and Metaverses
            .sizeSm.TmarXXLg.lh1 Reliable Certificates, Quick Transactions, <br />Media and Contents Authoring, <br />Gaming Platforms, Meta-Malls,<br />Mized Reality and more...
        .signup.TmarXXLg.sizeXLg.context
            h3.sizeLg.bolder.purecolor Get started
            form#signup(action="#")
                .floatL 
                    input.block.Hpad.VpadXXSm.outlinenone(placeholder="your@email.com", type="text").introBD.bottomBD.introcolor
                .floatL.LmarXXLg.white
                    input.block.Hpad.VpadXXSm.walletBG.thin.round.both.pointer(type="submit", value="Go    >")
    .scrolldown.abs.txtC.left0.right0(style="bottom:35px")
        .safe.context
            a.inlineblock.purecolor.pad.VpadSm.bolder.marginauto(href="#")
                span Discover the Ecosystem






