

//- INTRO PURE SERIES
.page.rel.fullH.txtC.purechain.black
	
	.intro.safe.txtL(style="padding-top:30px")
		.introblock.sizeXXXLg.TmarXXXLg.TpadXXXLg
			.puremain.pureseries.TmarXXXLg.context
				span.block.floatL
					em.block
						span.none P
				b.bolder Pure 
				span Chain
			.textblock.TmarXXXLg.TpadXXXLg.select-none
				.catchphrase
					h1.sizeXXXLg.lh1 The Era of Blockchain, #[br] Networks and Metaverses
				
				

				//- .container.px-5.py-24.mx-auto
					.flex.flex-wrap.-m-12
						.p-8.flex.flex-col.items-start(class='md:w-1/2')
							.sizeSm.TmarXXLg.lh1 Reliable Certificates, Quick Transactions, #[br] Media and Contents Authoring, #[br] Gaming Platforms, Meta-Malls, #[br] Mized Reality and more...
						.p-8.flex.flex-col.items-start(class='md:w-1/2')
							.signup.TmarXXLg.sizeSm.context
								h3.sizeLg.bold Get started
								+signuphome
				//- .grid.grid-cols-2.gap-x-4.place-items-center
					.flex.flex-col.items-start.gap-y-4
						p.text-sm.font-medium Left-to-right
						.relative.w-18.h-18.rounded-lg.bg-stripes-purple(class='sm:w-32 sm:h-32')
							.p-4.w-14.h-14.absolute.top-0.left-0.flex.items-center.justify-center.bg-purple-500.shadow-lg.rounded-lg
					.flex.flex-col.items-end.gap-y-4
						p.text-sm.font-medium Right-to-left
						.relative.w-18.h-18.rounded-lg.bg-stripes-purple(class='sm:w-32 sm:h-32')
							.p-4.w-14.h-14.absolute.top-0.right-0.flex.items-center.justify-center.bg-purple-500.shadow-lg.rounded-lg

				.flex.grid.grid-cols-1.gap-5.place-items-start
					.sizeSm.TmarXXLg.lh1.w-full Reliable Certificates, Quick Transactions, #[br] Media and Contents Authoring, #[br] Gaming Platforms, Meta-Malls, #[br] Mixed Reality and more...
					.none.signup.TmarXXLg.sizeSm.context.w-full
						h3.sizeLg.bold Get started
						+signuphome
					.flex.flex-row.flex-wrap.gap-y-4.gap-x-8.mt-4(class="lg:flex:nowrap")
						.flex-none
							+darkbutton('Start Building')
						.flex-none
							+lightbutton('Discord')
						
	.scrolldown.abs.txtC.left0.right0(style="bottom:25px")
		.safe.context.txtC
			+smallbutton("Discover the Ecosystem", "#/home/purewallet/")





