

//- INTRO PURE SERIES
.page.rel.fullH.txtC.purechain.black
	
	.intro.safe.txtL(style="padding-top:30px")
		.introblock.sizeXXXLg.TmarXXXLg.TpadXXXLg
			.test.VmarXXXLg(style="height:45px")
				+pureseries_SVG('chain')
			.textblock.TmarXXXLg.TpadXXXLg.select-none
				.catchphrase
					h1.sizeXXXLg.lh1.fw7.txtSpace-1 The Era of Blockchain, #[br] Networks and Metaverses

				.flex.grid.grid-cols-1.gap-5.place-items-start
					.sizeSm.TmarXXLg.lh1.w-full Reliable Certificates, Quick Transactions, #[br] Media and Contents Authoring, #[br] Gaming Platforms, Meta-Malls, #[br] Mixed Reality and more...
					.none.signup.TmarXXLg.sizeSm.context.w-full
						h3.sizeLg.bold Get started
						+signuphome
					
					
					
					.flex.flex-row.flex-wrap.gap-y-4.gap-x-4.mt-4(class="sm:grid sm:grid-cols-2")
						.flex-none.w-full.txtC
							+consolebutton('Start Building')
						.flex-none.w-full.txtC
							+discordbutton('Discord')
	
	.scrolldown.abs.txtC.left0.right0(style="bottom:25px")
		.safe.context.txtC
			+smallbutton("Discover more", "#/home/purewallet/")

	
	




