


.fullW.fullH.txtC.white.blackBG.pureworld.rel
	.introworld.fullH.sizeXXXLg
		.intro.safe.fullH.txtR(style="padding:0;")
			.textzone.abs.left0.right50.top0.bottom0
				.catchphrase.TmarXXXLg.TpadXXXLg.RmarXXLg
					h1.montserrat.bolder.TpadXXXLg.sizeXXXLg.lh1 Unreal <br /> meets Unity
				.sizeSm.TmarXXLg.lh1.RmarXXXXLg
					p.sizeSm Towards a new Gaming, <br />Tourism, Shopping<br />and Social Experience
					h3.TmarXXLg The Journey into <br />Mixed Reality Realms
				.puremain.pureseries.TmarXXXLg.context.RmarXXLg
						span.floatR World	
						b.bolder.floatR Pure 
						span.block.floatR
							em.block
								span.none P	
				.textblock.abs.bottom0.BmarXXXLg.left0.right0
					
					.sizeSm.RpadXLg.TmarXXLg
						.Tpad(style="border-right:1px solid #3a6df0;")
							.lh1.RmarXLg
								p.sizeSm High-Quality, Surreal <br />Metaverse Virtual Space

							.sizeSm.TmarXLg
								a.inlineblock.walletBG.white.pad.VpadSm.thin.round.left(href="#")
									span Request your Download &nbsp; !{'>'}
			.imagezone.abs.left50.right0.top0.bottom0
				.img_cont.block.fullW.fullH
					.imgblock.fullW.fullH.cover(style="background-image:url(/img/world_bg.png)")
						span.fullW.fullH.block.hidden IMAGE
							