

.fullW.fullH.txtC.rel.pureline
	.introseries.sizeXXXLg
		.page
			.eco.abs.flowvisible.top0.bottom0.left0.right0.purelightestblueBG
				
				.abs.left0.puremain.pureseries.floatingseries.LmarXXLg(style="width:350px;top:130px;z-index:301")
					ol.txtL.pureblue.rel(style="top:0px")
						li
							a.dark.block.round23.HpadSm.txtL(href="javascript:void(0)")
								em.bolder Pure
									b.thin.LmarXXSm Series
						- let series = ["Chain", "Wallet", "Certificates", "Voting", "Medical", "Media", "World"] ;
						//- - series = series.reverse() ;
						- let ls = series.length ;

						- for(let i = 0 ; i < ls ; i++){
							- let classname = 'blackBG round23 white' ;
							li
								a.block.bolder.HpadSm(class= i == 0 ? "" : "", href="javascript:void(0)" style="opacity:" + (.8 - ((i)*.2)) + ";")
									em.bolder Pure
										b.thin.LmarXXSm #{series[i]}	
						- }
				
				.slides.dark
					.slide.textes.abs(style="bottom:130px;left:45px;margin-right:20px;width:350px;z-index:300")
						.rounded-3xl.p-6.txtL
							.catchphrase.sizeSm(class="sm:sizeR")
								h4.montserrat.bolder.sizeXXXLg.lh1 The Ecosystem
							.othertextes.sizeSm.TmarXXLg.lh1.pureblue
								h3 We are ensuring a safe place <br />where all your expectations converge.
								.Tmar.lh1
									p.sizeSm Our technology brings a plethora of innovative<br />ideas to inspire developers, create modern platforms<br />and satisfy the needs of W3 evolution.
							.TmarXXXLg.txtR.sizeXSm.rel(style="margin-right:-25px")
								+smallbutton("Browse Ecosystem", "#/features/")
					- for(let i = 0 ; i < ls ; i++) {
						.none.slide.textes.abs.fullH.fullW.left0.right0(style="bottom:220px;")
							.fullH.fullW.grid.content-end.place-items-end
								.dark.p-6.txtL.pureline.purelightestblueBG.px-10(style="width:60%;min-width:435px;border-width:1px 0")
									.catchphrase.sizeXSm(class="sm:sizeR")
										h4.montserrat.bolder.sizeXXXLg.lh1 Pure #{series[i]}
									.othertextes.sizeSm.TmarXXLg.lh1 
										h3 We are ensuring a safe place <br />where all your expectations converge.
										.TmarXXXLg.lh1
											p.sizeSm Our technology brings a plethora of innovative<br />ideas to inspire developers, create modern platforms<br />and satisfy the needs of W3 evolution.
					- }
				
				
			.partners.abs.bottom0.left0.right0
				
				- var partners = ['/img/creativia.png', '/img/ict.png', '/img/nslab.png', '/img/cognito.png'] ;
				- var len = partners.length , repeat = 5;
				.partnersboxing.rel.context(style="width:"+(len * repeat * 150)+"px;border-top:1px solid #789bf3")
					.partnerscont.rel
						- for(let i = 0 ; i < len * repeat ; i++){
							a.block.cont.floatL.cover(href="#", style="width:150px;height:100px;background-image:url('"+partners[i % len]+"');")
								span.hidden <!-- -->
						- } 
				.partnerstext.abs.bottom100.right0
					p.Rmar
						span.block.Hpad.pureblueBG.white.sizeXSm NTU / MDA
						

	//- .eco.abs.top50.bottom0.left0.right0.flowhidden(style="bottom:1px")
		//- img.inlineblock.fullH.rel(src="/img/pureseries_eco.png", alt="", style="top:-50px")