

//- INTRO PURE SERIES

.page.rel.fullH.txtC.purechain
    .intro.safe.black.txtL(style="padding-top:30px")
        .introblock.sizeXXXLg.TmarXXXLg.TpadXXXLg
            .puremain.pureseries.TmarXXXLg.context
                span.block.floatL
                    em.block
                        span.none P
                b.bolder Pure 
                span Chain
            .textblock.TmarXXXLg.TpadXXXLg
                .catchphrase
                    h1.montserrat.bolder.sizeXXXLg.lh1 The Era of Blockchain, <br />Networks and Metaverses
                .sizeSm.TmarXXLg.lh1 Reliable Certificates, Quick Transactions, <br />Media and Contents Authoring, <br />Gaming Platforms, Meta-Malls,<br />Mized Reality and more...
                .signup.TmarXXLg.context
                    h3.sizeLg.bolder Get started
                    +signuphome
    .scrolldown.abs.black.txtC.left0.right0(style="bottom:25px")
        .safe.context
            a.inlineblock.pad.VpadSm.bolder.marginauto(href="#/home/purewallet/")
                span Discover the Ecosystem






