
//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends

block content

	section.page.zind3.rel.context(style="background:#FFF;")
		each article in getComponentsByTypename(child_section.post.bracket, 'ComponentModularArticle')
			+article(article, params)


