//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends


block content  
	//-  EMPTY

	//- DO NOT REMOVE, IN USE FOR CHILDREN LOADING, THEN SLIDESHOW AND PATCHWORK
	- var hidden = {"cpi_film_equipment":1, "polarized_film":1} ;	
	- function filterSections(section){return !(section.name in hidden)}
	- var filtered = section.children.filter(filterSections) ;
	- var target_sections = filtered ;
	//- SLIDESHOW GOES FIRST, BUT WITH A HEIGHT OF 50%
	.extra.rel.context(style='height:50%;')
		+slideshow()
	

	
	

	//- THEN COMES PATCHWORK
	+patchwork()
	
	//- THEN THE CHILDREN LOADING BLOCK
	.products_section_container
		//- HERE WILL STAND THE FUTURE PRODUCTS -- DO NOT REMOVE !!

	
	//- AND EVENTUALLY THE PRODUCTS PAGE RELATED BLOCKS 
	each products_article in getComponentsByTypename(section.post.bracket, 'ComponentModularArticle')
		+article(products_article, params)


	+footer()
	