
//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends

block content

  +topimage({url:'/uploads/00_68e1a09b4d.png'}, undefined, t('errors.404.header'), t('errors.404.subheader'))
  
  section.page.zind3.rel.context.marbleBG
    +error404
  +footer()
  