.page.rel.fullH.txtC.slides
	.slidenav.abs(style="bottom:55px;").txtC.left0.right0
		ol.context.inlineblock.marginauto.widthauto
			- for(i = 0 ; i < 6 ; i++){
				li.floatL.sizeXXXLg.HpadXXXSm
					a.sizeXXXLg.block(href="#", class= (i==0)? 'walletcolor' :'') •
			- }
			
				
	.slide
		.safe.black.txtL(style="padding-top:30px")
			.introblock.sizeXXXLg.TmarXXXLg.TpadXXXLg
				.puremain.pureseries.TmarXXXLg.context.LpadXXLg
					span.block.floatL
						em.block
							span.none P
					b.bolder Pure 
					span Wallet
			
			.line.context
				.unit.size2of5
					.img_cont(style="width:280px")
						img.block(src="/img/phone_main.png")
				.unit.lastunit.TmarXXXLg.TpadXXLg.sizeLg
					h2.montserrat.bolder.VpadXXXLg.sizeXXLg.lh1.Lpad(style="border-left:1px solid #38b6ff;") Offline Blockchain <br />Mobile Wallet
					.TmarXXLg.BmarXXXLg.lh1.LpadXXLg.sizeLg Easy and Offline Transfers, <br /> Purchase and Swap <br />Cryptocurrencies
					
					.TmarXXXLg.lh1(style="border-left:1px solid #9b68bd;")
						.LpadXXXLg.BpadSm
							p.sizeSm Benefit of the latest innovative <br />Blockchain technology improvements<br />and handle all your cryptocurrencies <br />in one single place.
					
						.TmarXLg
							a.inlineblock.walletBG.white.pad.VpadSm.thin.round.right(href="#")
								span Learn More 