.fullW.fullH.txtC.black
	.introworld.sizeXXXLg
		.intro.safe.black.txtR(style="padding:30px 0 40px 0;")
			.line
				.unit.size1of2
					.TmarXXXLg.TpadXXXLg.RmarXXLg
						h1.montserrat.bolder.TpadXXXLg.sizeXXXLg.lh1 Unreal <br /> meets Unity
					.sizeSm.TmarXXLg.lh1.RmarXXXXLg
						p.sizeSm Towards a new Gaming, <br />Tourism, Shopping<br />and Social Experience
						h3.TmarXXLg The Journey into <br />Mixed Reality Realms
					.puremain.pureseries.TmarXXXLg.context.RmarXXLg
						span.floatR World	
						b.bolder.floatR Pure 
						span.block.floatR
							em.block
								span.none P	
					.sizeSm.RpadXLg.TmarXXLg
						.Tpad(style="border-right:1px solid #9b68bd;")
							.lh1.RmarXLg
								p.sizeSm High-Quality, Surreal <br />Metaverse Virtual Space

							.sizeSm.TmarXLg
								a.inlineblock.walletBG.white.pad.VpadSm.thin.round.left(href="#")
									span Request your Download &nbsp; !{'>'}
				.unit.lastUnit
					.img_cont
						img.block(src="/img/world_bg.png")