extends ./layout
block content
	.extractable.fullpage.flowhidden
		
		.main-theme.flex.flex-col.bg-main.min-h-full.overflow-hidden.en( style="margin-top:130px")
			
			//- /////////////////////////////////////////////////////////////////////////////////////////// TOP PAGE ZONE	

			.relative.z-10.pt-24.pb-24.patch(class='md:pt-28 4md:pt-32 lg:42 xl:pt-48 2xl:pt-52 2xl:pb-28')
				section.container.mx-auto.left-0.right-0.section-margin( class='!mt-0')
					.test.purecolor.rel(style="height:45px;")
						+pureseries_SVG('chain')
					.relative.flex.flex-col.grid-cols-12.h-fit( class='md:grid 2xl:h-[355px]')
						.flex.flex-col.txtL(class='md:col-span-7 4md:col-span-6')
							h1.black.text-start.text-5xl.mt-24.mb-12.min-w-max.leading-10
								| Frequently Asked Questions
							.mt-5.max-w-fit(class='md:mt-4 2xl:mt-10')
								p.mt-4.sizeLg(class='md:mt-6')
									| We have put in place this FAQ for you to read, #[br]we think that most of the mainline questions would figure in it, #[br]and hope it can help orient or assist you.  
								
				
			//- /////////////////////////////////////////////////////////////////////////////////////////// END TOP PAGE ZONE
			



			//- /////////////////////////////////////////////////////////////////////////////////////////// ADVANTAGES
			.relative.context.purelightestblueBG.pureline
				section.container.mx-auto.left-0.right-0.context.mt-12
					.test.purecolor.rel.LmarXLg(style="height:45px;")
						+pureseries_SVG('wallet')
					.container.pb-48
						- for(let i = 0 ; i < 8 ; i ++){
							.question.block.text-start.text-2xl.my-10.min-w-max.purestblueBG.rounded-lg.txtL
								+normalbutton('Can I use Pure Wallet in my country ?')
								.answer.pad
									h6.bold.pureblue.lh11.BmarLg
										| The short answer is "Yes", but you may further want to read informations about rules that may apply per-country.
									.sizeSm.dark
										| We have put in place this FAQ for you to read, we think that most of the mainline questions would figure in it, and hope it can help orient or assist you.
										| We have put in place this FAQ for you to read, we think that most of the mainline questions would figure in it, and hope it can help orient or assist you.#[br]
										| We have put in place this FAQ for you to read, we think that most of the mainline questions would figure in it, and hope it can help orient or assist you.#[br]

						- }
						
						
			
			
			
			.relative.context.BpadXXLg.pureline
				section.mx-auto.left-0.right-0.section-margin.container
					.flex.flex-col(class='md:col-span-7 4md:col-span-6')
						h3.black.text-start.text-3xl.mt-24.mb-24.min-w-max.leading-10.m-auto
							| Thank you for your attention
						
			.relative.context.purelightestblueBG.pureline
				+startnow()
						