extends ./layout
block content
	//- First Homepage	
	.fullpage.fullH.flowhidden
		include pages/home_worldpage

	//- WALLET
	.fullpage.fullH.flowhidden
		include pages/home_seriespage

	.fullpage.fullH.flowhidden
		include pages/home_walletpage
					
	.fullpage.fullH.flowhidden
		include pages/home_chainpage