extends ./layout
block content
	.extractable.fullpage
		.main-theme.flex.flex-col.bg-main.min-h-full.en( style="margin-top:130px")
			.relative
				.absolute.left-0.right-0.top-0.z-20
					.container.flex.flex-row.items-center(class='4md:justify-center')
						span
							+pureseries_SVG('series')
						
										
			.relative.z-10.pt-24.pb-24.patch(class='md:pt-28 4md:pt-32 lg:42 xl:pt-48 2xl:pt-52 2xl:pb-28')
				section.mx-auto.left-0.right-0.section-margin.container(class='2xl:!mt-40')
					.flex.flex-col.grid-cols-12(class='md:grid')
						.flex.flex-col.place-items-start.txtL(class='md:col-span-6 4md:col-span-7')
							h1.black.text-start.text-5xl.mt-24.mb-12.min-w-max.leading-tight
								| Versatile Blockchain #[br]features 
							.mt-5.max-w-fit(class='md:mt-4 2xl:mt-10')
								p.mt-4.sizeLg(class='md:mt-6')
									| #[b.bolder.pureblue Build] and use the best #[b.bolder.pureblue Web3] applications with Purechain, 
									| #[br]one of the most #[b.bolder.pureblue secure], #[b.bolder.pureblue robust] and #[b.bolder.pureblue flexible] blockchain implementations 
								.flex.flex-col.mt-12(class='md:col-span-6 4md:col-span-7')
									.block(class='md:block')
										p.block.h7.text-center.my-8(class='md:text-left 2xl:my-[2.375rem]')
											
										.grid.grid-cols-1.gap-y-4( class='md:grid-cols-2 md:gap-x-8')
											+darkbutton('Start Building')
											+lightbutton('Discord')
										
						.relative(class='md:col-span-5')
							div(style='overflow: hidden; margin: 0px auto; height: 100%;' slot='animation')
								//- +features_home_SVG()

				section.mx-auto.left-0.right-0.section-margin.container(class='2xl:!mt-40')
					.flex.flex-col.mt-20(class='2xl:mt-28')
						.text-center.text-xs.font-medium.leading-4.uppercase.text-tcolor-5(class='md:text-left')
							| Backed by the best
						.mt-10.flex.flex-row.justify-center.gap-x-9.flex-wrap.gap-4(class='md:justify-start 2xl:gap-12')
							svg.h-7.w-24(aria-hidden='true' focusable='false' data-prefix='fab' data-icon='blog' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 112 25' class='!w-16 md:!w-18 4md:!w-20 lg:!w-22 xl:!w-24 2xl:!w-28')
								g(clip-path='url(#clip0_21_5504)')
									path(d='M6.30648 10.478L10.7526 5.86826L15.1988 10.478L17.7846 7.79383L10.7526 0.5L3.72064 7.79383L6.30648 10.478ZM2.38121 9.73886L4.76241 12.2285L2.38121 14.7181L0 12.2285L2.38121 9.73886ZM6.30648 13.9985L10.7526 18.6082L15.1988 13.9985L17.7846 16.6826L10.7712 23.9764L3.75784 16.6826L6.30648 13.9985ZM21.282 12.2285L18.9008 14.7181L16.5196 12.2285L18.9008 9.73886L21.282 12.2285Z' fill='#232325')
									path(d='M13.2827 11.9379L10.7527 9.29271L8.89237 11.2377L8.66913 11.4711L8.22266 11.9379L10.7527 14.5832L13.2827 11.9379ZM25.6352 6.35572H31.1604C32.537 6.35572 33.5602 6.72528 34.2671 7.44494C34.8066 8.00899 35.0856 8.7092 35.0856 9.54556V9.58446C35.0856 9.89566 35.0484 10.2069 34.9554 10.5181C34.8624 10.7904 34.7508 11.0238 34.6206 11.2572C34.4717 11.4711 34.3229 11.6656 34.1369 11.8212C33.9509 11.9768 33.7462 12.1324 33.5416 12.2491C34.2299 12.5214 34.7694 12.891 35.1601 13.3578C35.5507 13.8246 35.7554 14.4665 35.7554 15.2834V15.3223C35.7554 15.8863 35.6437 16.3726 35.4391 16.8005C35.2345 17.2284 34.9182 17.598 34.5462 17.8508C34.1555 18.1426 33.6904 18.3371 33.1323 18.4927C32.5742 18.6288 31.9789 18.7066 31.3092 18.7066H25.6538V6.35572H25.6352ZM30.6209 11.3544C31.1976 11.3544 31.6627 11.2572 31.9975 11.0432C32.3324 10.8293 32.4998 10.4986 32.4998 10.0513V10.0124C32.4998 9.60391 32.351 9.29271 32.0533 9.07875C31.7557 8.8648 31.3278 8.7481 30.7697 8.7481H28.1839V11.3544C28.2025 11.3544 30.6209 11.3544 30.6209 11.3544ZM31.3092 16.3142C31.8859 16.3142 32.351 16.1975 32.6672 15.9836C33.0021 15.7696 33.1695 15.4195 33.1695 14.9722V14.9333C33.1695 14.5248 33.0207 14.1942 32.7044 13.9608C32.4068 13.7274 31.9045 13.5912 31.2162 13.5912H28.1839V16.3142H31.3092ZM39.1225 6.35572H41.9316V18.6872H39.1225V6.35572ZM45.8755 6.35572H48.3125L53.9493 13.9608V6.35572H56.5537V18.6872H54.3027L48.4799 10.8487V18.6872H45.8755V6.35572ZM64.3484 6.35572H66.7111L71.7153 18.6872H69.0365L67.9761 15.9447H63.0462L61.9858 18.6872H59.3628L64.3484 6.35572ZM67.0459 13.5718L65.5018 9.60391L63.9578 13.5718H67.0459ZM74.5244 6.35572H76.9614L82.5982 13.9608V6.35572H85.2026V18.6872H82.9516L77.1288 10.8487V18.6872H74.5244V6.35572ZM94.8205 18.7066C93.9275 18.7066 93.0904 18.5316 92.3276 18.2009C91.5835 17.8897 90.9138 17.4229 90.3371 16.8394C89.779 16.2559 89.3325 15.5557 89.0349 14.7971C88.7186 13.9997 88.5512 13.1439 88.5698 12.288V12.2491C88.5698 11.3544 88.7186 10.5181 89.0349 9.74006C89.3325 8.9815 89.779 8.2813 90.3371 7.67834C90.8952 7.09483 91.5649 6.62803 92.3462 6.27792C93.1276 5.94727 93.9833 5.77222 94.9135 5.77222C95.4902 5.77222 95.9925 5.81112 96.4761 5.90837C96.9412 6.00562 97.3691 6.14177 97.7598 6.29737C98.1504 6.47242 98.5039 6.66693 98.8201 6.90033C99.1364 7.13373 99.4526 7.40604 99.7317 7.67834L98.0202 9.70116C97.5365 9.25381 97.0528 8.92315 96.5692 8.6703C96.0855 8.41745 95.5274 8.30075 94.9135 8.30075C94.4112 8.30075 93.9275 8.398 93.4996 8.61195C93.0718 8.80645 92.6997 9.09821 92.3834 9.44831C92.0672 9.81786 91.8253 10.2263 91.6579 10.6931C91.4905 11.1599 91.3975 11.6656 91.3975 12.2102V12.2491C91.3975 12.7937 91.4905 13.2995 91.6579 13.7663C91.8253 14.2331 92.0672 14.661 92.3834 15.0111C92.6997 15.3612 93.0532 15.6529 93.4996 15.8669C93.9461 16.0808 94.4484 16.1781 94.9321 16.1781C95.6204 16.1781 96.2157 16.0419 96.6994 15.7891C97.1831 15.5362 97.6667 15.1667 98.1318 14.7193L99.8433 16.4893C99.5271 16.8394 99.2108 17.1506 98.876 17.4229C98.5411 17.6952 98.169 17.9286 97.7784 18.1231C97.3505 18.3176 96.9226 18.4732 96.4575 18.5705C95.9367 18.6483 95.4158 18.7066 94.8205 18.7066ZM102.615 6.35572H111.526V8.76755H105.182V11.2766H110.763V13.6885H105.182V16.2753H111.601V18.6872H102.615V6.35572Z' fill='#232325')
								defs
									clippath#clip0_21_5504
										rect(width='112' height='24' fill='white' transform='translate(0 0.5)')
							svg.h-7.w-24(aria-hidden='true' focusable='false' data-prefix='fab' data-icon='blog' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 124 11' class='!w-16 md:!w-18 4md:!w-20 lg:!w-22 xl:!w-24 2xl:!w-28')
								path(d='M21.5059 0L16.6836 10.8353H18.2503L19.3084 8.3925H25.555L26.613 10.8353H28.1798L23.3575 0H21.5059ZM20.0002 6.86879L22.4419 1.40278L22.4826 1.49952L24.8632 6.86879H20.0002Z' fill='#232325')
								path(d='M36.6055 0V10.8353H38.0298V1.78975L38.1112 1.8865L45.1106 10.8353H46.9622V0H45.5176V9.0697L45.4362 8.97296L38.4164 0H36.6055Z' fill='#232325')
								path(d='M59.7388 3.36184H56.8698V4.88555H59.7388V10.8353H61.1834V4.88555H64.0524V3.36184H61.1834V1.52371H65.5784V0H55.3438V1.52371H59.7388V3.36184Z' fill='#232325')
								path(d='M75.4087 6.19158H80.8007V4.66787H75.4087V1.52371H83.5272V0H73.9844V10.8353H83.5272V9.31156H75.4087V6.19158Z' fill='#232325')
								path(d='M117.261 0H115.389L110.566 10.8353H112.133L113.191 8.3925H119.438L119.458 8.41669L120.496 10.8353H122.063L117.261 0ZM113.903 6.86879L116.345 1.40278L116.386 1.49952L118.766 6.86879H113.903Z' fill='#232325')
								path(d='M7.46743 0H0V10.8353H1.44465V6.65112H7.46743C9.01382 6.65112 10.2754 5.15159 10.2754 3.31347C10.255 1.49952 9.01382 0 7.46743 0ZM7.46743 5.12741H1.44465V1.52371H7.46743C8.30167 1.52371 8.97313 2.32184 8.97313 3.31347C8.97313 4.30509 8.30167 5.12741 7.46743 5.12741Z' fill='#232325')
								path(d='M100.108 6.60274C101.451 6.31251 102.428 4.93392 102.428 3.31347C102.428 1.47534 101.166 0 99.6198 0H92.1523V10.8353H93.597V6.65112H98.3176L98.3379 6.6753L100.82 10.8353H102.489L100.067 6.60274H100.108ZM93.6173 5.12741V1.52371H99.6401C100.474 1.52371 101.146 2.32184 101.146 3.31347C101.146 4.30509 100.474 5.12741 99.6401 5.12741H93.6173Z' fill='#232325')
							svg.h-7.w-24(aria-hidden='true' focusable='false' data-prefix='fab' data-icon='blog' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 98 33' class='!w-16 md:!w-18 4md:!w-20 lg:!w-22 xl:!w-24 2xl:!w-28')
								path(d='M7.5134 7.79831H8.64067V25.8233C8.64067 29.8149 5.6875 32.5062 0.00390625 32.5062V28.7174C2.44407 28.7174 3.66246 27.6548 3.66246 25.4913V7.79831H7.5134ZM4.20585 4.87279C3.94597 4.61064 3.74009 4.29957 3.59834 3.95354C3.45659 3.60751 3.38571 3.23701 3.38571 2.86302C3.38571 2.48903 3.45659 2.11504 3.59834 1.7725C3.74009 1.42647 3.94597 1.1154 4.20585 0.853252C4.45898 0.584118 4.75936 0.370907 5.09349 0.224107C5.42762 0.0773065 5.78537 0.00390625 6.1465 0.00390625C6.50763 0.00390625 6.86876 0.0773065 7.19952 0.224107C7.53365 0.370907 7.83403 0.584118 8.08716 0.853252C8.34704 1.1154 8.55292 1.42647 8.69467 1.7725C8.83642 2.11853 8.9073 2.48903 8.9073 2.86302C8.9073 3.23701 8.83642 3.60751 8.69467 3.95354C8.55292 4.29957 8.34704 4.61064 8.08716 4.87279C7.83403 5.14192 7.53365 5.35513 7.19952 5.50193C6.86539 5.64873 6.50763 5.72213 6.1465 5.72213C5.78537 5.72213 5.42424 5.64873 5.09349 5.50193C4.75936 5.35513 4.45898 5.14192 4.20585 4.87279Z' fill='#232325')
								path(d='M23.0487 7.7998H28.0269V24.8566H23.0487V22.3645C22.2961 23.2698 21.3578 23.9968 20.3048 24.4826C19.2518 24.972 18.1042 25.2131 16.95 25.1922C13.2239 25.1922 10.75 22.7979 10.75 18.31V7.8068H15.7282V16.3527C15.7282 19.3062 16.8521 20.8091 19.1336 20.8091C21.4152 20.8091 23.0487 19.0475 23.0487 15.5523V7.7998Z' fill='#232325')
								path(d='M59.0833 14.361V24.8677H54.1085V16.154C54.1085 13.2949 53.0487 11.8654 50.9292 11.8654C48.8738 11.8654 47.1086 13.6584 47.1086 17.1187V24.8677H42.1304V16.154C42.1304 13.2949 41.0706 11.8654 38.9511 11.8654C36.8957 11.8654 35.1305 13.6584 35.1305 17.1187V24.8677H30.1523V7.80738H35.1305V10.268C36.7674 8.40507 38.6946 7.47533 40.9761 7.47533C43.8652 7.47533 45.7316 8.63925 46.5956 10.9671C48.3641 8.63226 50.4837 7.46484 52.9542 7.46484C56.7748 7.46484 59.0867 9.59345 59.0867 14.3575L59.0833 14.361Z' fill='#232325')
								path(d='M77.5906 9.79237C79.1971 11.3862 79.997 13.5498 79.997 16.311C79.997 19.0723 79.1938 21.2358 77.5906 22.7947C75.9841 24.3885 73.9624 25.1889 71.4885 25.1889C69.3048 25.1889 67.5397 24.4584 66.1897 22.9939V32.1724H61.2148V7.79658H66.1897V9.63158C67.5397 8.17057 69.3048 7.44006 71.4885 7.43657C73.9624 7.42958 75.9841 8.22999 77.5906 9.79237ZM74.7961 16.311C74.7961 13.2527 72.9668 11.2219 70.4929 11.2219C68.019 11.2219 66.1897 13.1513 66.1897 16.311C66.1897 19.4707 68.0527 21.4001 70.4929 21.4001C72.933 21.4001 74.7961 19.3728 74.7961 16.311Z' fill='#232325')
								path(d='M97.6488 20.1445V24.1746H82.0898V20.1445H97.6488Z' fill='#232325')
							svg.h-7.w-24(aria-hidden='true' focusable='false' data-prefix='fab' data-icon='blog' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 109 13' class='!w-16 md:!w-18 4md:!w-20 lg:!w-22 xl:!w-24 2xl:!w-28')
								path(d='M0 0.168148H3.04215L6.2552 8.43144H6.39192L9.60498 0.168148H12.6471V12.467H10.2544V4.46194H10.1576L7.13822 12.4069H5.5089L2.48955 4.43191H2.3927V12.467H0V0.168148Z' fill='#232325')
								path(d='M16.6905 12.467H14.0471L18.0748 0.168148H21.2537L25.2757 12.467H22.6324L19.7099 2.97863H19.6187L16.6905 12.467ZM16.5253 7.63273H22.7691V9.66252H16.5253V7.63273Z' fill='#232325')
								path(d='M26.68 12.467V0.168148H31.2831C32.1642 0.168148 32.9162 0.334295 33.5391 0.666588C34.1657 0.994878 34.6424 1.46129 34.969 2.06582C35.2994 2.66635 35.4646 3.37298 35.4646 4.18569C35.4646 5.00241 35.2975 5.70503 34.9633 6.29355C34.6291 6.87807 34.1449 7.32646 33.5106 7.63874C32.8801 7.95101 32.1168 8.10715 31.2204 8.10715H28.1384V6.01731H30.8217C31.2926 6.01731 31.6838 5.94925 31.9952 5.81313C32.3067 5.67701 32.5383 5.47283 32.6903 5.20059C32.846 4.92835 32.9238 4.59005 32.9238 4.18569C32.9238 3.77733 32.846 3.43303 32.6903 3.15278C32.5383 2.87253 32.3048 2.66035 31.9895 2.51622C31.6781 2.36809 31.285 2.29402 30.8103 2.29402H29.1468V12.467H26.68ZM32.9808 6.87006L35.8805 12.467H33.1574L30.3203 6.87006H32.9808Z' fill='#232325')
								path(d='M37.2079 12.467V0.168148H39.6747V5.59093H39.8285L44.0271 0.168148H46.9838L42.6541 5.67501L47.035 12.467H44.0841L40.8881 7.41054L39.6747 8.97192V12.467H37.2079Z' fill='#232325')
								path(d='M62.2757 4.47395H59.7804C59.7349 4.13365 59.6418 3.83138 59.5013 3.56715C59.3608 3.29891 59.1804 3.07071 58.9601 2.88254C58.7398 2.69438 58.4853 2.55025 58.1967 2.45016C57.9119 2.35007 57.6023 2.30003 57.2681 2.30003C56.6642 2.30003 56.1382 2.45817 55.6901 2.77445C55.2419 3.08672 54.8944 3.54313 54.6475 4.14366C54.4007 4.74018 54.2772 5.46482 54.2772 6.31757C54.2772 7.19435 54.4007 7.931 54.6475 8.52752C54.8982 9.12405 55.2476 9.57445 55.6958 9.87871C56.1439 10.183 56.6623 10.3351 57.251 10.3351C57.5814 10.3351 57.8872 10.2891 58.1682 10.197C58.4531 10.1049 58.7056 9.9708 58.9259 9.79464C59.1462 9.61448 59.3285 9.39629 59.4728 9.14006C59.6209 8.88384 59.7235 8.59158 59.7804 8.26329L62.2757 8.2753C62.2111 8.8398 62.0497 9.38428 61.7915 9.90874C61.537 10.4292 61.1933 10.8956 60.7603 11.308C60.3311 11.7163 59.8184 12.0406 59.2221 12.2808C58.6297 12.517 57.9593 12.6351 57.2111 12.6351C56.1705 12.6351 55.24 12.3869 54.4197 11.8905C53.6031 11.3941 52.9575 10.6754 52.4827 9.73459C52.0118 8.79376 51.7763 7.65475 51.7763 6.31757C51.7763 4.97639 52.0156 3.83538 52.4941 2.89455C52.9726 1.95372 53.6221 1.23709 54.4424 0.744657C55.2628 0.248219 56.1857 0 57.2111 0C57.8872 0 58.5138 0.100088 59.0911 0.300265C59.6722 0.500442 60.1868 0.792699 60.635 1.17704C61.0831 1.55737 61.4477 2.02379 61.7288 2.57627C62.0136 3.12876 62.1959 3.76132 62.2757 4.47395Z' fill='#232325')
								path(d='M71.2512 0.168148H73.7179V8.15519C73.7179 9.05198 73.5147 9.83668 73.1083 10.5093C72.7058 11.1819 72.1418 11.7063 71.4164 12.0827C70.691 12.455 69.8459 12.6412 68.8812 12.6412C67.9128 12.6412 67.0658 12.455 66.3404 12.0827C65.615 11.7063 65.051 11.1819 64.6484 10.5093C64.2459 9.83668 64.0446 9.05198 64.0446 8.15519V0.168148H66.5113V7.933C66.5113 8.40141 66.6082 8.81778 66.8019 9.1821C66.9994 9.54642 67.2766 9.83267 67.6336 10.0409C67.9906 10.249 68.4065 10.3531 68.8812 10.3531C69.3598 10.3531 69.7757 10.249 70.1289 10.0409C70.4859 9.83267 70.7612 9.54642 70.9549 9.1821C71.1524 8.81778 71.2512 8.40141 71.2512 7.933V0.168148Z' fill='#232325')
								path(d='M75.7474 12.467V0.168148H80.4189C81.2772 0.168148 81.9931 0.302267 82.5666 0.570504C83.1401 0.83874 83.5712 1.21107 83.8598 1.68749C84.1485 2.15991 84.2928 2.70439 84.2928 3.32093C84.2928 3.80135 84.2016 4.22373 84.0193 4.58805C83.837 4.94837 83.5864 5.24463 83.2673 5.47683C82.9521 5.70503 82.5913 5.86718 82.1849 5.96326V6.08337C82.6293 6.10338 83.0452 6.2355 83.4326 6.47972C83.8237 6.72393 84.1409 7.06623 84.3839 7.50662C84.627 7.94301 84.7485 8.46347 84.7485 9.068C84.7485 9.72057 84.5947 10.3031 84.2871 10.8155C83.9833 11.324 83.5332 11.7263 82.9369 12.0226C82.3407 12.3189 81.6058 12.467 80.7322 12.467H75.7474ZM78.2142 10.3411H80.2252C80.9126 10.3411 81.414 10.203 81.7292 9.92676C82.0444 9.64651 82.202 9.27418 82.202 8.80977C82.202 8.46947 82.1242 8.16921 81.9685 7.90898C81.8127 7.64875 81.5906 7.44457 81.3019 7.29644C81.0171 7.14831 80.6772 7.07424 80.2822 7.07424H78.2142V10.3411ZM78.2142 5.31469H80.0429C80.3809 5.31469 80.681 5.25263 80.943 5.12852C81.2089 5.00041 81.4178 4.82025 81.5697 4.58805C81.7254 4.35584 81.8032 4.0776 81.8032 3.75331C81.8032 3.30892 81.6532 2.9506 81.3532 2.67836C81.057 2.40612 80.6354 2.27 80.0885 2.27H78.2142V5.31469Z' fill='#232325')
								path(d='M88.3647 12.467H85.7213L89.749 0.168148H92.9279L96.9499 12.467H94.3065L91.384 2.97863H91.2929L88.3647 12.467ZM88.1994 7.63273H94.4433V9.66252H88.1994V7.63273Z' fill='#232325')
								path(d='M108.113 0.168148V12.467H105.982L100.906 4.72617H100.821V12.467H98.3542V0.168148H100.519L105.555 7.90297H105.658V0.168148H108.113Z' fill='#232325')
				

			//- NUMBERS

			.relative.context.purelightestblueBG
				section.container.mx-auto.left-0.right-0.section-margin.mb-24(class='!mt-16 2xl:!mt-20')
					.grid.grid-cols-2.gap-3.mt-20(class='md:grid-cols-4 md:gap-4 2xl:gap-x-7')
						.col-span-1.purestblueBG.rounded-3xl.txtL.px-4.py-5(class='2xl:h-40 md:rounded-2xl 2xl:rounded-3xl md:py-4 4md:py-5 lg:py-7 xl:py-9 2xl:px-6 2xl:py-10')
							.flex.flex-row.h-fit
								.flex.flex-col.justify-between.h-fit.w-full
									span.block.w-full.text-xl.font-medium.leading-7(class='-tracking-[0.01em] md:text-base 4md:text-lg lg:text-xl xl:text-2xl 2xl:text-2xl md:font-semibold md:leading-6 4md:leading-7 lg:leading-8 xl:leading-9 2xl:leading-10')
										| 66,438,189
									.flex.flex-row.justify-between.items-center.w-full
										span.break-words.text-2xs.font-medium.text-steelish.max-w-full(class='md:mt-2 md:text-[0.5rem] lg:text-[0.6rem] xl:text-[0.7rem] 2xl:text-xs 2xl:max-w-[150px] 2xl:leading-4')
											| BLOCKS PRODUCED
						.col-span-1.purestblueBG.rounded-3xl.txtL.px-4.py-5(class='2xl:h-40 md:rounded-2xl 2xl:rounded-3xl md:py-4 4md:py-5 lg:py-7 xl:py-9 2xl:px-6 2xl:py-10')
							.flex.flex-row.h-fit
								.flex.flex-col.justify-between.h-fit.w-full
									span.block.w-full.text-xl.font-medium.leading-7(class='-tracking-[0.01em] md:text-base 4md:text-lg lg:text-xl xl:text-2xl 2xl:text-2xl md:font-semibold md:leading-6 4md:leading-7 lg:leading-8 xl:leading-9 2xl:leading-10')
										| 415,012,862
									.flex.flex-row.justify-between.items-center.w-full
										span.break-words.text-2xs.font-medium.text-steelish.max-w-full(class='md:mt-2 md:text-[0.5rem] lg:text-[0.6rem] xl:text-[0.7rem] 2xl:text-xs 2xl:max-w-[150px] 2xl:leading-4')
											| ON-CHAIN TRANSACTIONS
						.col-span-1.purestblueBG.rounded-3xl.txtL.px-4.py-5(class='2xl:h-40 md:rounded-2xl 2xl:rounded-3xl md:py-4 4md:py-5 lg:py-7 xl:py-9 2xl:px-6 2xl:py-10')
							.flex.flex-row.h-fit
								.flex.flex-col.justify-between.h-fit.w-full
									span.block.w-full.text-xl.font-medium.leading-7(class='-tracking-[0.01em] md:text-base 4md:text-lg lg:text-xl xl:text-2xl 2xl:text-2xl md:font-semibold md:leading-6 4md:leading-7 lg:leading-8 xl:leading-9 2xl:leading-10')
										| 0.8S
									.flex.flex-row.justify-between.items-center.w-full
										span.break-words.text-2xs.font-medium.text-steelish.max-w-full(class='md:mt-2 md:text-[0.5rem] lg:text-[0.6rem] xl:text-[0.7rem] 2xl:text-xs 2xl:max-w-[150px] 2xl:leading-4')
											| BLOCK TIME
						.col-span-1.purestblueBG.rounded-3xl.txtL.px-4.py-5.flex(class='2xl:h-40 md:rounded-2xl 2xl:rounded-3xl md:py-4 4md:py-5 lg:py-7 xl:py-9 2xl:px-6 2xl:py-10')
							.flex.flex-row.h-fit
								.flex.flex-col.justify-between.h-fit.w-full
									span.block.w-full.text-xl.font-medium.leading-7(class='-tracking-[0.01em] md:text-base 4md:text-lg lg:text-xl xl:text-2xl 2xl:text-2xl md:font-semibold md:leading-6 4md:leading-7 lg:leading-8 xl:leading-9 2xl:leading-10')
										| <$0.01
									.flex.flex-row.justify-between.items-center.w-full
										span.break-words.text-2xs.font-medium.text-steelish.max-w-full(class='md:mt-2 md:text-[0.5rem] lg:text-[0.6rem] xl:text-[0.7rem] 2xl:text-xs 2xl:max-w-[150px] 2xl:leading-4')
											| AVG TRANSACTION COST
			
			//- END NUMBERS
			

			//- TOGGLING BLOCKS
				//- DESKTOP VERSION
			.relative.context.pb-64
				section.mx-auto.left-0.right-0.section-margin.container
					.relative.flex.flex-col(class='md:w-1/2 md:min-w-1/2')
						.txtL
							h2.black.text-start.text-3xl.mt-24.mb-12.min-w-max.leading-10
								| Produce #[br] reliable systems
					.flex-row.justify-between.w-full.nonez(class='md:flex')
						.paneltoggle.flex.flex-col.justify-normal.w-full(class='md:flex-row')
							.relative.flex.flex-col(class='flex-none')
								.mt-0
									+explaintoggle("Revolutionizing Smart Contracts", 1)
									+explaintoggle("Pioneering Interoperability", 0)
									+explaintoggle("Customized DeFi Solutions", 0)
									+explaintoggle("Formidable Security", 0)
									
								.flex.flex-col.flex-1.mt-10
									+darkbutton('Start Building')
							.nonez(class='md:flex')
								.panel.flex.flex-col.mt-0.flex(class='md:mt-10')
									.flex.justify-center(class='h-48')
										+explains_SVG(0)
									span.px-4.mt-8.font-semibold.text-base.leading-11.tracking-tight(class='2xl:px-0 2xl:mt-16 md:text-base lg:text-lg 2xl:text-xl')
										| Revolutionizing Smart Contracts
									span.px-4.text-base.tracking-wide.mt-2.w-full(class='md:px-24 2xl:px-0 md:text-tiny lg:text-sm 2xl:text-lg leading-[1.875rem] 2xl:leading-[2.125rem]')
										| Launch
										| dynamic dApps with Pure Series powerful smart contract
										| layer. Pure Series is the first blockchain to offer auto-executing
										| smart contracts which empower faster, more innovative and
										| groundbreaking applications.
								.panel.none.flex.flex-col.mt-0.flex(class='md:mt-10')
									.flex.justify-center(class='h-48')
										+explains_SVG(1)
									span.px-4.mt-8.font-semibold.text-base.leading-11.tracking-tight(class='2xl:px-0 2xl:mt-16 md:text-base lg:text-lg 2xl:text-xl text-[#343FF5]')
										| Pioneering Interoperability
									span.px-4.text-base.tracking-wide.mt-2.w-full(class='2xl:px-0 md:text-tiny lg:text-sm 2xl:text-lg leading-[1.875rem] 2xl:leading-[2.125rem]')
										| Securely
										| transfer crypto assets and Web3 data from prominent blockchains to
										| utilize on any application built on Injective. All dApps within
										| Injective’s ecosystem can natively access sovereign layer one chains
										| such as Ethereum, Cosmos and Solana for frictionless interoperable
										| communication.
								.panel.none.flex.flex-col.mt-0.flex(class='md:mt-10')
									.flex.justify-center(class='h-48')
										+explains_SVG(2)
									span.px-4.mt-8.font-semibold.text-base.leading-11.tracking-tight(class='2xl:px-0 2xl:mt-16 md:text-base lg:text-lg 2xl:text-xl text-[#343FF5]')
										| Customized DeFi Solutions
									span.px-4.text-base.tracking-wide.mt-2.w-full(class='2xl:px-0 md:text-tiny lg:text-sm 2xl:text-lg leading-[1.875rem] 2xl:leading-[2.125rem]')
										| Injective
										| offers a diverse array of novel Web3 modules & primitives such
										| as the world’s first on-chain derivatives orderbook. Developers can
										| rapidly build sophisticated dApps with plug-and-play modules and
										| deep liquidity support from day one.
								.panel.none.flex.flex-col.mt-0.flex(class='md:mt-10')
									.flex.justify-center(class='h-48')
										+explains_SVG(3)
									span.px-4.mt-8.font-semibold.text-base.leading-11.tracking-tight(class='2xl:px-0 2xl:mt-16 md:text-base lg:text-lg 2xl:text-xl text-[#343FF5]')
										| Formidable Security
									span.px-4.text-base.tracking-wide.mt-2.w-full(class='2xl:px-0 md:text-tiny lg:text-sm 2xl:text-lg leading-[1.875rem] 2xl:leading-[2.125rem]')
										| Deploy
										| applications with peace of mind as Injective is secured by globally
										| distributed validator nodes with the largest institutions
										| contributing to the proof-of-stake network. Injective employs a
										| Tendermint PoS consensus to secure transactions with instant
										| finality.
					
					
					
						//- MOBILE VERSION
					.paneltoggle.flex.flex-col(class='md:hidden')
						.mt-10
							.togglerBG.shadow.mr-6.mb-1.rounded-2xl.px-4.py-2.items-center.w-full.flex.flex-col.justify-between.purelightestblueBG(class='2xl:p-4 hover:cursor-pointer 2xl:w-[388px]')
								+explainsmalltoggle("Revolutionizing Smart Contracts", 1)
								.panel.flex.flex-col.mt-5.flex.mb-10(class='md:mt-10')
									.flex.justify-center(class='h-48')
										+explains_SVG(0)
									span.px-4.text-base.tracking-wide.mt-2.w-full(class='2xl:px-0 md:text-tiny lg:text-sm 2xl:text-lg leading-[1.875rem] 2xl:leading-[2.125rem]')
										| Launch
										| dynamic dApps with Injective’s powerful CosmWasm smart contract
										| layer. Pure Series is the first blockchain to offer auto-executing
										| smart contracts which empower faster, more innovative and
										| groundbreaking applications.
							.togglerBG.shadow.mr-6.mb-1.rounded-2xl.px-4.py-2.items-center.w-full.flex.flex-col.justify-between(class='2xl:p-4 hover:cursor-pointer 2xl:w-[388px]')
								+explainsmalltoggle("Pioneering Interoperability", 0)
								.panel.none.flex.flex-col.mt-5.flex.mb-10(class='md:mt-10')
									.flex.justify-center(class='h-48')
										+explains_SVG(1)
									span.px-4.text-base.tracking-wide.mt-2.w-full(class='2xl:px-0 md:text-tiny lg:text-sm 2xl:text-lg leading-[1.875rem] 2xl:leading-[2.125rem]')
										| Securely
										| transfer crypto assets and Web3 data from prominent blockchains
										| to utilize on any application built on Pure Series. All dApps
										| within Pure Series ecosystem can natively access sovereign layer
										| one chains such as Ethereum, Cosmos and Solana for frictionless
										| interoperable communication.
							.togglerBG.shadow.mr-6.mb-1.rounded-2xl.px-4.py-2.items-center.w-full.flex.flex-col.justify-between(class='2xl:p-4 hover:cursor-pointer 2xl:w-[388px]')
								+explainsmalltoggle("Customized DeFi Solutions", 0)
								.panel.none.flex.flex-col.mt-5.flex.mb-10(class='md:mt-10')
									.flex.justify-center(class='h-48')
										+explains_SVG(0)
									span.px-4.text-base.tracking-wide.mt-2.w-full(class='2xl:px-0 md:text-tiny lg:text-sm 2xl:text-lg leading-[1.875rem] 2xl:leading-[2.125rem]')
										| Pure Series
										| offers a diverse array of novel Web3 modules & primitives
										| such as the world’s first on-chain derivatives orderbook.
										| Developers can rapidly build sophisticated dApps with
										| plug-and-play modules and deep liquidity support from day
										| one.
							.togglerBG.shadow.mr-6.mb-1.rounded-2xl.px-4.py-2.items-center.w-full.flex.flex-col.justify-between(class='2xl:p-4 hover:cursor-pointer 2xl:w-[388px]')
								+explainsmalltoggle("Formidable Security", 0)
								.panel.none.flex.flex-col.mt-5.flex.mb-10(class='md:mt-10')
									.flex.justify-center(class='h-48')
										+explains_SVG(0)
									span.px-4.text-base.tracking-wide.mt-2.w-full(class='2xl:px-0 md:text-tiny lg:text-sm 2xl:text-lg leading-[1.875rem] 2xl:leading-[2.125rem]')
										| Deploy
										| applications with peace of mind as Pure Series is secured by
										| globally distributed validator nodes with the largest
										| institutions contributing to the proof-of-stake network.
										| Pure Series employs a Tendermint PoS consensus to secure
										| transactions with instant finality.






			
			.relative.context.purelightestblueBG.pt-12.paneltoggle
				section.mx-auto.left-0.right-0.section-margin(class='md:!px-2 2xl:!px-5')
					.px-4.p-11(class='md:pt-16 md:p5 md:rounded-xl 2xl:rounded-3xl')
						.container.mx-auto.flex.flex-col
							.flex.flex-col.items-center(class='md:flex-row')
								h2.black.txtL.text-3xl.my-12.min-w-max.leading-10(class="md:w-1/2")
									| Versatile and Growing #[br] Frameworks
								span.txtR.text-base.purelightestblueUpBG.p-6.rounded-2xl(class='md:mt-0 leading-[1.875rem] md:text-tiny md:leading-[200%] 2xl:text-lg 2xl:leading-10 md:w-1/2')
									| Pure series represents the evergrowing global network#[br] behind Pure chain and its sibling services.
									| #[br]Grasp the modern concepts of this blockchain phenomenon.
							.mt-8.box-border(class='md:mt-14 2xl:mt-20 2xl:h-[277px]')
								.flex.flex-row.gap-x-4.nonez.sizeSm(class='md:flex')
									
									ul.list-none.whitespace-nowrap.carousel-wrapper.pb-1.tab-header.scroll-smooth.flex.items-center(class='lg:pb-2 xl:pb-4')
										li.paneltoggler.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row(class='md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.border-b-2.border-transparent.items-center
												a.togglerBG.rounded-2xl.Hpad.block.box-content.text-base.pureblueBG.white(class='md:text-4xs 4md:text-xs xl:text-sm')
													| Purechain
											.box-content.pb-3.pr-6.border-b-2.border-transparent(class='xl:pr-12 md:h-8 4md:h-9 lg:h-10')
										li.paneltoggler.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row(class='md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.border-b-2.border-transparent.items-center
												a.togglerBG.rounded-2xl.Hpad.block.box-content.text-base(href="#" class='md:text-4xs 4md:text-xs xl:text-sm hover:purelightblueBG hover:white') 
													| Purecontract
											.box-content.pb-3.pr-6.border-b-2.border-transparent(class='xl:pr-12 md:h-8 4md:h-9 lg:h-10')
										li.paneltoggler.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row(class='md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.border-b-2.border-transparent.items-center
												a.togglerBG.rounded-2xl.Hpad.block.box-content.text-base(href="#" class='md:text-4xs 4md:text-xs xl:text-sm hover:!purelightblueBG hover:white') 
													| Purecertificate
											.box-content.pb-3.pr-6.border-b-2.border-transparent(class='xl:pr-12 md:h-8 4md:h-9 lg:h-10')
										li.paneltoggler.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row(class='md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.border-b-2.border-transparent.items-center
												a.togglerBG.rounded-2xl.Hpad.block.box-content.text-base(href="#" class='md:text-4xs 4md:text-xs xl:text-sm hover:!purelightblueBG hover:white') 
													| Puremedical
											.box-content.pb-3.pr-6.border-b-2.border-transparent(class='xl:pr-12 md:h-8 4md:h-9 lg:h-10')
										li.paneltoggler.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row(class='md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.border-b-2.border-transparent.items-center
												a.togglerBG.rounded-2xl.Hpad.block.box-content.text-base(href="#" class='md:text-4xs 4md:text-xs xl:text-sm hover:purelightblueBG hover:white') 
													| Purevoting
											.box-content.pb-3.pr-6.border-b-2.border-transparent(class='xl:pr-12 md:h-8 4md:h-9 lg:h-10')
										li.paneltoggler.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row(class='md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.border-b-2.border-transparent.items-center
												a.togglerBG.rounded-2xl.Hpad.block.box-content.text-base(href="#" class='md:text-4xs 4md:text-xs xl:text-sm hover:purelightblueBG hover:white') 
													| Puremedia
											.box-content.pb-3.pr-6.border-b-2.border-transparent(class='xl:pr-12 md:h-8 4md:h-9 lg:h-10')
										li.paneltoggler.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row(class='md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.border-b-2.border-transparent.items-center
												a.togglerBG.rounded-2xl.Hpad.block.box-content.text-base(href="#" class='md:text-4xs 4md:text-xs xl:text-sm hover:purelightblueBG hover:white') 
													| Pureworld
											.box-content.pb-3.pr-6.border-b-2.border-transparent(class='xl:pr-12 md:h-8 4md:h-9 lg:h-10')
										li.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row(class='md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.border-b-2.border-transparent.items-center
												a.block.box-content.text-base(href="#" class='md:text-4xs 4md:text-xs xl:text-sm hover:purelightblueBG hover:white') 
													svg.w-5.h-5(aria-hidden='true' focusable='false' data-prefix='fab' data-icon='circle-with-arrow' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none')
														circle(cx='10' cy='10' r='9.1' stroke='currentColor' stroke-width='1.8')
														path(d='M5.65681 10.0007L12.4299 10.0054' stroke='currentColor' stroke-width='1.8' stroke-miterlimit='10')
														path(d='M9.04785 5.71436L13.3336 10.0001L9.04785 14.2858' stroke='currentColor' stroke-width='1.8' stroke-miterlimit='10')
								

					.mx-auto.left-0.right-0.container
						.panel.flex.flex-col.gap-4.py-10(class='md:flex-row md:justify-between')
							//- Small Devices Version
							.flex.flex-col.mb-8( class='md:hidden')
								.flex.mt-6.mb-2.items-center.m-auto( class='2xl:mt-0')
									.black.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.rounded-md.text-center.py-1.bg-gray-3.font-medium.capitalize(class='4md:rounded-lg 4md:px-3 4md:py-2 md:leading-[0.675rem] 4md:text-xs 4md:leading-[0.75rem]')
														| Orderbook Exchange
												a(href='https://helixapp.com/spot/inj-usdt' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/71aaf95d-57b9-427a-8b2f-cc2c4167dfe6.png')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| Helix
											hr.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6')
												span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| description
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| The premier decentralized orderbook crypto exchange for trading
													| crypto assets and derivatives. Helix offers zero gas fees, an
													| intuitive user interface, and niche interchain markets.
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6')
												span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Exchange Module • Orderbook Primitive • Oracle Module
								.flex.mt-6.mb-2.items-center.m-auto( class='2xl:mt-0')
									.rounded-2xl.shadow.whiteBG.black.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.rounded-md.text-center.px-2.py-1.bg-gray-3.font-medium.capitalize(class='4md:rounded-lg 4md:px-3 4md:py-2 md:leading-[0.675rem] 4md:text-xs 4md:leading-[0.75rem]')
														| Orderbook Exchange
												a(href='https://helixapp.com/spot/inj-usdt' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/71aaf95d-57b9-427a-8b2f-cc2c4167dfe6.png')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| Helix
											hr.bg-gray-line.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6')
												span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| description
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| The premier decentralized orderbook crypto exchange for
													| trading crypto assets and derivatives. Helix offers zero gas
													| fees, an intuitive user interface, and niche interchain
													| markets.
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6')
												span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Exchange Module • Orderbook Primitive • Oracle Module
								.flex.mt-6.mb-2.items-center.m-auto( class='2xl:mt-0')
									.rounded-2xl.shadow.whiteBG.black.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.rounded-md.text-center.px-2.py-1.bg-gray-3.font-medium.capitalize(class='4md:rounded-lg 4md:px-3 4md:py-2 md:leading-[0.675rem] 4md:text-xs 4md:leading-[0.75rem]')
														| DeFi Protocol
												a(href='https://mito.fi/' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/a8b3ff8a-3366-4d4e-9202-75e539b16017.png')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| Mito
											hr.bg-gray-line.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6')
												span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| description
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Mito brings a groundbreaking protocol to revolutionize
													| automated trading, launchpads and yield generation.
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6')
												span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| CosmWasm Module • Exchange Module • Orderbook Primitive
								.flex.mt-6.mb-2.items-center.m-auto( class='2xl:mt-0')
									.rounded-2xl.shadow.whiteBG.black.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.rounded-md.text-center.px-2.py-1.bg-gray-3.font-medium.capitalize(class='4md:rounded-lg 4md:px-3 4md:py-2 md:leading-[0.675rem] 4md:text-xs 4md:leading-[0.75rem]')
														| Liquid Staking
												a(href='https://hydroprotocol.finance/' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/6c21ab9a-7d16-4e1f-beb5-53beaa1032b6.jpg')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| Hydro Protocol
											hr.bg-gray-line.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6')
												span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| description
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Hydro Protocol offers liquidity solutions with Real Yield
													| Assets, combining real world and crypto assets for optimized
													| yield strategies to create Injective’s LSD+LSDFi ecosystem.
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6')
												span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Exchange Module • Orderbook Primitive • Oracle Module
								.flex.mt-6.mb-2.items-center.m-auto( class='2xl:mt-0')
									.rounded-2xl.shadow.whiteBG.black.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
											.relative
												.flex.flex-row.justify-between.items-center
													.order-2
														span.block.text-2xs.rounded-md.text-center.px-2.py-1.bg-gray-3.font-medium.capitalize(class='4md:rounded-lg 4md:px-3 4md:py-2 md:leading-[0.675rem] 4md:text-xs 4md:leading-[0.75rem]')
															| NFT Marketplace
													a(href='https://talis.art/' target='_blank')
														.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
															img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/32791478-533f-4d97-8693-bea3747e561e.png')
												span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
													| Talis Protocol
												hr.bg-gray-line.mt-6
												.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6')
													span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny leading-[170%]')
														| description
													span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
														| The first native NFT marketplace building on Injective, ushering
														| in the NFT Fi ecosystem.
												.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6')
													span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
														| utilizes
													span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
														| Oracle Module • CosmWasm Module
							//- Desktop Version
							.nonez.txtR(class='md:block md:h-full w-1/3')
								.relative.mt-24(class="sm:pr-4")
									span.block.mt-4.font-medium.text-2xl.leading-10.content-right(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
										+pureseries_SVG('chain')
									hr.bg-gray-line.mt-6
									.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6')
										span.mb-4.block.font-medium.text-2xl.leading-tight.pureblue.txtL(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
											| Improved Performance over Traditional Blockcains
										hr.mb-6
										span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
											| We utilize exclusive technologies to addres blockchain challenges 
											| (decentralization, security, scalability, high gas fees) and provide a real-time environment.
									.none.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6')
										span.block.font-bold.uppercase(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
											| utilizes
										span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
											| Exchange Module • Orderbook Primitive • Oracle Module
							.nonez.evenoddblocks.mb-48( class='w-3/4 md:flex')
								.nonez.grid-cols-2.items-center.gap-4( class='md:grid 2xl:gap-8')
									.rounded-2xl.describlock.purelightestblueDownBG.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.text-center.px-2.py-1.bg-gray-3.capitalize.rounded-2xl.white.Hpad.pureblueBG(class='4md:px-3 4md:py-2')
														| SAM#[sup +]
												a(href='https://helixapp.com/spot/inj-usdt' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														//- img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/71aaf95d-57b9-427a-8b2f-cc2c4167dfe6.png')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| Smart Auto Mining#[sup +]
											hr.bg-gray-line.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6').txtL
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| Feature
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| A mining technique that optimizes transaction mining time 
													| and reduces the energy required to power the network.
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6').txtR
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Exchange Module • Orderbook Primitive • Oracle Module
									.even.rounded-2xl.describlock.purelightestblueDownBG.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.text-center.px-2.py-1.bg-gray-3.capitalize.rounded-2xl.white.Hpad.pureblueBG(class='4md:px-3 4md:py-2')
														| PoA#[sup 2]
												a(href='https://mito.fi/' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														//- img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/a8b3ff8a-3366-4d4e-9202-75e539b16017.png')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| Proof of Authority#[sup 2]
											hr.bg-gray-line.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6').txtL
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| Feature
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| A tehnique that ensures network stability 
													| #[br] even when or if mining is interrupted.
													
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6').txtR
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| CosmWasm Module • Exchange Module • Orderbook Primitive
									.rounded-2xl.describlock.purelightestblueDownBG.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.text-center.px-2.py-1.bg-gray-3.capitalize.rounded-2xl.white.Hpad.pureblueBG(class='4md:px-3 4md:py-2')
														| NSL-L2
												a(href='https://hydroprotocol.finance/' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														//- img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/6c21ab9a-7d16-4e1f-beb5-53beaa1032b6.jpg')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| NSL Layer2
											hr.bg-gray-line.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6').txtL
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| feature
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| A technology that uses Zero-Knowledge (Zk)- Rollup technology 
													| with SAM#[sup +] and PoA#[sup 2] to improve blockchain stability
													| and gas fees. 
													
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6').txtR
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Exchange Module • Orderbook Primitive • Oracle Module
									.even.rounded-2xl.describlock.purelightestblueDownBG.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.text-center.px-2.py-1.bg-gray-3.capitalize.rounded-2xl.white.Hpad.pureblueBG(class='4md:px-3 4md:py-2')
														| L1#[sup +]
												a(href='https://talis.art/' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														//- img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/32791478-533f-4d97-8693-bea3747e561e.png')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| Augmented Layer1
											hr.bg-gray-line.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6').txtL
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| feature
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| A layer that integrates SAM#[sup +] and PoA#[sup 2] 
													| to enhance both efficiency and reliability of the existing blockchain's Layer1.
													
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6').txtR
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Oracle Module • CosmWasm Module
									.rounded-2xl.describlock.purelightestblueDownBG.p-5(class='md:h-full md:py-9 4md:px-6 xl:px-7 xl:py-3xl 2xl:px-9')
										.relative
											.flex.flex-row.justify-between.items-center
												.order-2
													span.block.text-2xs.text-center.px-2.py-1.bg-gray-3.capitalize.rounded-2xl.white.Hpad.pureblueBG(class='4md:px-3 4md:py-2')
														| NSL-cL2
												a(href='https://hydroprotocol.finance/' target='_blank')
													.order-1.w-12.h-12(class='md:w-[34px] md:h-[34px] xl:w-12 xl:h-12')
														//- img(src='https://injective-dotcom-files.s3.us-east-2.amazonaws.com/6c21ab9a-7d16-4e1f-beb5-53beaa1032b6.jpg')
											span.block.mt-4.font-medium.text-2xl.leading-10(class='md:text-lg lg:text-[20px] xl:text-xl 2xl:text-2xl md:leading-[128%] 2xl:leading-10 tracking-[0.01em]')
												| Centralized Layer2
											hr.bg-gray-line.mt-6
											.flex.flex-col.mt-4(class='xl:mt-5 2xl:mt-6').txtL
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny leading-[170%]')
													| feature
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| A specialized Layer2 
													| #[br] for industrial applications.
													
											.mt-6(class='md:mt-4 xl:mt-5 2xl:mt-6').txtR
												span.block.font-bold.uppercase.pureblue(class='md:text-[13px] lg:text-tiny md:leading-[170%]')
													| utilizes
												span.block.text-tcolor-2.mt-2(class='md:text-xs 4md:text-[13px] lg:text-tiny xl:text-base md:leading-[180%]')
													| Exchange Module • Orderbook Primitive • Oracle Module
			.relative.context
				section.mx-auto.left-0.right-0.mb-24.container
					.flex.flex-col(class='2xl:flex')
						h2.black.txtL.text-3xl.my-12.min-w-max.leading-10(class="md:w-2/3")
							| Verified and Approved #[br] Technology
						.mt-10.relative(class='md:mt-8 2xl:mt-11')
							.flex.flex-row.gap-x-4
								.flex.flex-col-reverse
									+normalbutton('View our Patents')
							//- .flex.flex-col
								.flex.flex-row.gap-x-4
									
										
									
									ul.list-none.whitespace-nowrap.carousel-wrapper.pb-1.tab-header.scroll-smooth.flex.items-center( class='lg:pb-2 xl:pb-4')
										li.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row( class='hover:text-main-blue active:cursor-grabbing md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.pb-3.border-b-2.border-transparent.items-center.border-b-main-blue()
												// 
												span.block.box-content.text-base.text-main-blue( class='md:text-xs 4md:text-sm xl:text-base')
													| For
													| individuals
											.box-content.pb-3.pr-6.border-b-2.border-transparent( class='xl:pr-12 md:h-8 4md:h-9 lg:h-10')
										li.cursor-pointer.items-center.leading-5.font-medium.tracking-3x-tighter.flex.flex-row( class='hover:text-main-blue active:cursor-grabbing md:leading-4 xl:leading-5 md:font-semibold xl:font-medium')
											.flex.bg-transparent.pb-3.border-b-2.border-transparent.items-center()
												// 
												span.block.box-content.text-base.text-tcolor-2( class='md:text-xs 4md:text-sm xl:text-base')
													| For
													| developers
					
			.relative.context.TmarginXXLg.purelightestblueBG
				section.VmarginXXXLg.mx-auto.left-0.right-0.section-margin.container(class='2xl:!mt-28')
					h3.black.text-start.text-5xl.mt-24.mb-24.min-w-max.leading-10.m-auto Start Building with Pure chain Now
					.grid.grid-cols-1.gap-y-4( class='md:grid-cols-2 md:gap-x-8')
						+darkbutton('Start Building')
						+lightbutton('Discord')