extends ./layout
block content
	//- 
	
	#viewport3D.viewport3D.fixed.left0.right0.top0.bottom0
		.abs.filtering.fullW.fullH.whitetranspBG.zi3
	
	//- script(src="//unpkg.com/globe.gl")
	//- script(src="/js/nodeless_app/graphics/three/three.js")
	//- script(src="/js/nodeless_app/graphics/fx.js")

	script(type='text/javascript' src='/js/strawnode.js?starter=./nodeless_app/')

	script(type="importmap").
		{ "imports": {
			"three": "//unpkg.com/three/build/three.module.js"
		}}
	script(type="module").
		import * as THREE from 'three';
		window.THREE = THREE;


	script(src="//unpkg.com/three-globe", defer)
	script(src="/js/nodeless_app/graphics/fx_threeglobe.js", defer)