extends ./layout
block content
	//- First Homepage	
	.fullpage.fullH.flowhidden
		include pages/home_seriespage

	//- WALLET
	.fullpage.fullH.flowhidden
		include pages/home_chainpage

	.fullpage.fullH.flowhidden
		include pages/home_walletpage
					
	.fullpage.fullH.flowhidden
		include pages/home_worldpage