extends ./layout
block content
	.extractable.fullpage
		.main-theme.flex.flex-col.bg-main.min-h-full.en( style="margin-top:130px")
			.relative
				.absolute.left-0.right-0.top-0.z-20
					.container.flex.flex-row.items-center(class='4md:justify-center')
						span
							+pureseries_SVG('wallet')
			
				.relative
					section.mx-auto.left-0.right-0.container.pb-24.pt-64(class="sm:pt-24")
						.flex.flex-row.w-full
							.txtL.w-full(class="sm:w-2/5")
								h1.black.text-start.text-5xl.mt-0.mb-12.min-w-max.leading-tight
									| Offline Blockchain #[br]Mobile Wallet
							.nonez(class="sm:grid sm:w-3/5")
								h2.pureblue.text-start.text-5xl.mt-0.mb-12.min-w-max.leading-tight.txtR
									| Beyond just #[br] a Crypto Wallet 
						.flex.flex-row
							.flex.flex-col.grid-cols-8(class='sm:w-3/5 md:grid')
								.flex.flex-col.place-items-start.txtL.col-span-6
									.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
										
										.mt-4.mb-2.sizeLg(class='md:mt-4')
											h3.sizeLg.black
												| #[b.bolder 1.] Effective #[b.bolder.pureblue Payment] process #[br]
											p.mt-4
												| Utilizing our exclusive blockchain technology to offer more efficient and streamlined payment processes with lower transactions costs.
										.mt-4.mb-2.sizeLg(class='md:mt-4')
											h3.sizeLg.black
												| #[b.bolder 2.] #[b.bolder.pureblue Offline] Mobile Electronic #[b.bolder.pureblue Wallet]
											p.mt-4
												| Supporting access to modern financial services in limited infastrudture environments and providing economic empowerment to emerging nations through offline and baking functionnalities, thereby offering opportunities to enter the digital economy.
								.flex.flex-col.mt-12(class='md:col-span-7')
									+getitboth()
													
				.relative.purestblueBG
					section.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
						.flex.flex-wrap.flex-col.gap-y-4.flex-col-reverse(class="sm:flex-row")
							.relative.pt-0(style="top:-230px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
								.rounded-2xl.purelightestblueFromBG
									.p-8
										.txtR.dark
											h2.text-start.text-3xl.mt-0.mb-6.min-w-max.leading-tight
												| Effective #[br] #[span.pureblue Payment] Process 
											hr.mb-6
											.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
												.mt-4.mb-2.sizeLg
													p.mt-4.txtL
														| Provides a more efficient and streamlined #[br] payment processing system
														| #[br] with lower transaction costs using #[br] our exclusive blockchain technology.
														| #[br] #[br] Suitable for micropayments, bulk Retail, 
														| #[br] and payments that require the highest security.
												
							.phoneshot.pt-0(class="w-full sm:w-2/5")
								.p-8
									.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
										.rel.left-10
											+pureseries_SVG('wallet')
										img.mt-10.object-fill(src="/img/phone_screenshot.png", alt="")
					
					section.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
						.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row")
							
							.phoneshot.pt-0(class="w-full sm:w-2/5")
								.p-8
									.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
										.rel.left-10
											+pureseries_SVG('wallet')
										
										img.mt-10.object-fill(src="/img/phone_screenshot2.png", alt="")
							.relative.pt-0(style="top:-230px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
								.rounded-2xl.purelightestblueToBG
									.p-8
										.txtR.dark
											h2.text-start.text-3xl.mt-0.mb-6.min-w-max.leading-tight
												| #[span.pureblue Offline] Mobile #[br] Electronic #[span.pureblue Wallet]
											hr.mb-6
											.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
												.mt-4.mb-2.sizeLg
													p.mt-4.txtL
														| Enables access to modern financial services 
														| #[br]even in limited infrastructure environments. 
														| #[br]#[br] Economically empowers emerging countries 
														| #[br] through offline and banking functions, 
														| #[br] providing them with the opportunity 
														| #[br] to enter the global digital economy.
				
				.relative.purelightestblueBG
					section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
						.text-start.text-5xl.mt-12.min-w-max.leading-tight.thin.dark.txtL(class="w-full")
							| Start your finances #[br] in no time
						.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col.items-center(class="sm:flex-row")
							.pt-12(class="w-full sm:w-2/4 sm:p-10 md:p-10 lg:p-24")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center.flex-wrap
									span.p-4.rounded-full.pureblueBG.white.sizeXXLg #1.
									p.txtR.pureblue
										| Download #[br] the App
									p.mx-auto.grid.grid-flow-col(class="sm:block")
										+getit('google')
										+getit('apple') 
							.pt-0.p.nonez(class="w-full sm:block sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
								+explains_SVG(0)
						.flex.flex-wrap.flex-col.gap-y-4.flex-col.items-center(class="sm:flex-row")
							.pt-0.p.nonez(class="w-full sm:block sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
								+explains_SVG(1)
							
							.pt-12(class="w-full sm:w-2/4 sm:p-10 md:p-10 lg:p-24")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center
									span.p-4.rounded-full.pureblueBG.white.sizeXXLg #2.
									p.txtL.pureblue
										| Create an Account
										| #[br] and get your #[br]Cold Storage Upgrade
						.flex.flex-wrap.flex-col.gap-y-4.flex-col.items-center(class="sm:flex-row")
							.pt-24(class="w-full sm:w-2/4 sm:p-10 md:p-10 lg:p-24")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center
									span.p-4.rounded-full.pureblueBG.white.sizeXXLg #3.
									p.txtR.pureblue
										| Fill the Wallet 
										| #[br] with your #[br]Crypto-currencies
							.pt-0.p.nonez(class="w-full sm:block sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
								+explains_SVG(2)
											
						.flex.flex-wrap.flex-col.gap-y-4.flex-col.items-center(class="sm:flex-row")
							.pt-0.p.nonez(class="w-full sm:block sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
								+explains_SVG(3)
							
							.pt-24(class="w-full sm:w-2/4 sm:p-10 md:p-10 lg:p-24")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center
									span.p-4.rounded-full.pureblueBG.white.sizeXXLg #4.
									p.txtL.pureblue
										| Start sending and receiving
										| #[br] with Security 
										| #[br] and Convenience
				.relative
					section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
						.text-start.text-5xl.mt-12.min-w-max.leading-tight.thin.dark.txtL(class="w-full")
							| Pure Wallet isn't merely a crypto wallet 
						.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col-reverse.items-center(class="md:flex-row-reverse")
							
							.pt-10.w-full(class="md:w-3/5 sm:pt-10 md:p-10 lg:p-10")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.items-center.place-content-end.flex-wrap
									p.txtR.sizeXLg.leading-tight
										| but a #[span.pureblue comprehensive bridge] 
										| between #[span.pureblue cryptocurrency] and 
										| #[span.pureblue everyday applications], 
										| #[br]paving the way for a #[span.pureblue seamless], #[span.pureblue secure], 
										| and #[span.pureblue cost-effective digital transaction ecosystem].
									.pt-24.flex.flex-col-reverse
										+normalbutton('Discover the Ecosystem')
							.px-24.pt-0.p.w-full(class="sm:px-0 sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
								+explains_SVG(2)
				.relative.purelightestblueBG
					section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
						.text-start.text-5xl.mt-12.min-w-max.leading-tight.thin.dark.txtL(class="w-full")
							| A Better Crypto Experience
						.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row")
							.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center.flex-wrap
									.flex.flex-col-2.gap-x-4.items-center
										span.p-4.rounded-full.pureblueBG.white.sizeXXLg issue #1
										span.flex.place-content-end
											p.sizeSm Breaking the barrier
									p.pl-4.sizeXLg.txtL.leading-tight.pureblue
										| High Crypto 
										| #[br]Transaction Costs
							.mt-10.w-full(class="sm:w-2/5 sm:mt-10 md:mt-10 lg:mt-24")
								.txtJ.sizeLg.p-6.purelightestblueDownBG.rounded-2xl
									| Pure Wallet #[b.dark drastically cuts] the #[b.dark high fees] of 
									| crypto transactions - averaging #[b.dark $1.50] and 
									| totaling #[b.dark $28B yearly] - by #[b.pureblue up to 90%] with our 
									| #[b.pureblue offline transaction solution]. This breakthrough 
									| reduces costs for daily crypto use and opens 
									| the door for increased mainstream 
									| adoption, #[b.pureblue setting Pure Wallet apart] as both 
									| an #[b.pureblue innovative platform] and a #[b.pureblue prime investment opportunity].
				
				.relative.purestblueBG
					section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
						.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row-reverse")
							.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center.flex-wrap.flex-row-reverse
									.flex.flex-col-2.gap-x-4.items-center.flex-row-reverse
										span.p-4.rounded-full.pureblueBG.white.sizeXXLg issue #2
										span.flex.place-content-end
											p.sizeSm Speeding Things Up
									p.pl-4.sizeXLg.txtR.leading-tight.pureblue
										| Slow Crypto 
										| #[br]Transactions
							.mt-10.w-full(class="sm:w-2/5 sm:mt-10 md:mt-10 lg:mt-24")
								.txtJ.sizeLg.p-6.purelightestblueDownBG.rounded-2xl
									| #[b.dark Transaction times] for Ethereum and Bitcoin can greatly 
									| vary, with #[b.dark Ethereum] transactions taking #[b.dark up to 5 minutes] 
									| and #[b.dark Bitcoin] transactions #[b.dark as long as 1.5 hours], 
									| and even longer during network congestion. Pure Wallet 
									| addresses this with an #[b.pureblue innovative payment system] 
									| capable of processing transactions #[b.pureblue in a millisecond], 
									| boasting a capacity of #[b.pureblue over 1 million TPS]. This 
									| advancement positions Pure Wallet as a #[b.pureblue key solution] for 
									| #[b.pureblue reliable and instantaneous} crypto payments, and will 
									| significantly #[b.pureblue expand the use cases] for cryptocurrency in 
									| everyday transactions and open up new markets.
				
				.relative.purelightestblueBG
					section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
						.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row")
							.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center.flex-wrap
									.flex.flex-col-2.gap-x-4.items-center
										span.p-4.rounded-full.pureblueBG.white.sizeXXLg issue #3
										span.flex.place-content-end
											p.sizeSm Bridging the Gap
									p.pl-4.sizeXLg.txtL.leading-tight.pureblue
										| From Crypto Wealth
										| #[br]to Real-World Assets
							.mt-10.w-full(class="sm:w-2/5 sm:mt-10 md:mt-10 lg:mt-24")
								.txtJ.sizeLg.p-6.purelightestblueDownBG.rounded-2xl
									| #[b.dark Pure Loan] : Transforming Crypto into 
									| #[b.pureblue Real-World Value]. Pure Wallet's
									| innovative Pure Loan program enables
									| the use of crypto assets for significant 
									| #[b.dark real-world purchases], offering users 
									| with crypto wealth but limited cash or 
									| credit flexible #[b.pureblue innovative financing options]. 
									| Starting with #[b.pureblue auto financing] and 
									| planning to expand, Pure Loan embodies 
									| Pure Wallet's mission to #[b.pureblue bridge] digital 
									| and traditional #[b.pureblue finance], promising vast 
									| #[b.pureblue growth opportunities] for investors.
				.relative.purestblueBG
					section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
						.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row-reverse")
							.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center.flex-wrap.flex-row-reverse
									.flex.flex-col-2.gap-x-4.items-center.flex-row-reverse
										span.p-4.rounded-full.pureblueBG.white.sizeXXLg issue #4
										span.flex.place-content-end
											p.sizeSm Enhancing Security
									p.pl-4.sizeXLg.txtR.leading-tight.pureblue
										| Combating Crypto Vulnerabilities
										| #[br]with PureWallet
							.mt-10.w-full(class="sm:w-2/5 sm:mt-10 md:mt-10 lg:mt-24")
								.txtJ.sizeLg.p-6.purelightestblueDownBG.rounded-2xl
									| Pure Wallet #[b.dark elevates security] in the crypto 
									| space with its #[b.pureblue integrated cold storage], an 
									| industry-first feature, responding to the 
									| industry's substantial losses to hackers. Our 
									| #[b.pureblue unique offline technology] simplifies advanced 
									| security, making it accessible #[b.pureblue without external devices]. 
									| This innovation not only #[b.pureblue enhances user convenience] but also significantly 
									| #[b.pureblue improves asset protection], presenting a 
									| strong case for investment.
				
				.relative.purelightestblueBG
					section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
						.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row")
							.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
								.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh1.items-center.flex-wrap
									.flex.flex-col-2.gap-x-4.items-center
										span.p-4.rounded-full.pureblueBG.white.sizeXXLg issue #5
										span.flex.place-content-end
											p.sizeSm Introducing OffToken API
									p.pl-4.sizeXLg.txtL.leading-tight.pureblue
										| Solving Crypto's
										| #[br]Payment Dilemma
							.mt-10.w-full(class="sm:w-2/5 sm:mt-10 md:mt-10 lg:mt-24")
								.txtJ.sizeLg.p-6.purelightestblueDownBG.rounded-2xl
									| Pure Wallet's #[b.dark OffToken API] marks a #[b.dark significant leap] in 
									| cryptocurrency payment systems by incorporating 
									| our patented technology universally. It addresses 
									| critical issues like #[b.pureblue high fees], #[b.pureblue slow speeds], and 
									| #[b.pureblue energy-intensive mining], making crypto 
									| transactions #[b.pureblue faster], more #[b.pureblue efficient], and 
									| #[b.pureblue eco-friendly]. This expansion broadens Pure Wallet's 
									| ecosystem, ensuring #[b.pureblue transactions] are #[b.pureblue accessible and cost-effective], 
									| fostering widespread crypto 
									| adoption as a #[b.pureblue practical payment solution], 
									| enhancing user experience, and boosting our 
									| platform's #[b.pureblue profitability] and #[b.pureblue transaction volume].
				.relative.purestblueBG
					section.mx-auto.left-0.right-0.container.pb-24.pt-24
						.mb-16
							+pureseries_SVG('wallet')
						
						h2.black.text-start.text-5xl.mt-0.mb-12.min-w-max.leading-tight
							| Start your Crypto Experience now
						.flex.flex-col.grid-cols-12(class='md:grid')
							.flex.flex-row.mt-12(class='md:col-span-12').flex-row-reverse
								+getitboth()