extends ./layout
block content
	.extractable.fullpage
		
		.main-theme.flex.flex-col.bg-main.min-h-full
			.relative.z-10.pt-24.pb-24(class='sm:pt-8' style="margin-top:50px;padding-top:130px").whitetranspplusBG
				section.container.mx-auto.left-0.right-0.section-margin
					.test.black.rel(style="height:25px;top:-30px")
						+pureseries_SVG('wallet')
					.flex.flex-row.w-full
						.txtL.w-full(class="sm:w-2/5")
							h1.black.text-end.text-5xl.mt-0.min-w-max.leading-tight.bold
								| Offline Blockchain #[br]Mobile Wallet
						.nonez(class="sm:grid sm:w-3/5").rel
							.abs.top0.bottom0.left0.right0 
								.imgBG.fullW.fullH.cover(style="background-image:url(/img/wallet/phone_wallet.png); height:600px;background-position:50% 50%;")
									//
					.flex.flex-col.rel(class="sm:flex-row")
						.flex.flex-col.grid-cols-8(class='sm:w-3/5 md:grid')
							.flex.flex-col.place-items-start.txtL.col-span-6
								.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
									
									.mt-4.mb-2.sizeLg(class='md:mt-4').black
										h3.sizeLg.bolder.purecolor
											| Effective Payment process
										p.mt-4.sizeSm(style="max-width:450px")
											| Utilizing our exclusive blockchain technology to offer more efficient and streamlined payment processes with lower transactions costs.
									.mt-4.mb-2.sizeLg(class='md:mt-4').black
										h3.sizeLg.bolder.purecolor
											| Mobile Electronic Wallet
										p.mt-4.sizeSm(style="max-width:450px")
											| Supporting access to modern financial services in limited infastructure environments and providing economic empowerment to emerging nations through offline and baking functionnalities, thereby offering opportunities to enter the digital economy.
									.mt-4.mb-2.sizeLg(class='md:mt-4').black
										h3.sizeLg.bolder.purecolor
											| Hardware-Free Cold Storage
										p.mt-4.sizeSm(style="max-width:450px")
											| Hardware no longer needed for crypto finance through our innovative Cold Storage method.
							.flex.flex-col.mt-12.purecolor(class='md:col-span-7')
								+getitboth()
						.qrs.flex.flex-row.place-content-between.gap-x-8.place-items-end(class="sm:place-content-end")
							.qr.w-40.h-40.whiteBG.pad.rounded-lg.shadow.purecolor
								+QRCode_SVG()
							.qr.w-40.h-40.whiteBG.pad.rounded-lg.shadow.purecolor
								+QRCode_SVG()

			.relative.weirdblueBG.white
				section.faststats.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
					.abs.relaunchsim.left0.right0.bottom0.BpadXXXLg.none
						+smallbutton('Relaunch Simulation', null, null, 'pureblueBG white')
					h3.txtL.text-4xl.mt-0.min-w-max.leading-tight.txtC.thin
						| Experience our unlimited transaction speed #[br] 
					p.text-xl.mb-4 while comparing it to other blockchain and transaction methods
					em.purelightblue.sizeSm based on average speed of 1 second, lowered 10 times ! #[br]
					em.block.purelightblue.TmarXXLg Our TPS
					h2#MMAI.tps.text-2xl.white.mb-10
						| 145,000
					.grid.grid-cols-4.gap-x-4.mx-auto(style="max-width:500px;background-color:rgba(255,255,255,.05);").rounded-lg.pad
						.txtC.bitcoin
							span.block.sizeSm.uppercase bitcoin
							p.block.text-lg#bitcoin.tps(class="sm:text-2xl") 15
						.txtC.ethereum
							span.block.sizeSm.uppercase ethereum
							p.block.text-lg#eth.tps(class="sm:text-2xl") 2000
						.txtC.visa
							span.block.sizeSm.uppercase visa
							p.block.text-lg#visa.tps(class="sm:text-2xl") 35,000
						.txtC.solana
							span.block.sizeSm.uppercase Solana
							p.block.text-lg#solana.tps(class="sm:text-2xl") 65,000


						
						


			.relative.weirdblueBG(style="border-top:1px solid rgba(255,255,255,.15)")
				section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
					.purestblueBG.rounded-2xl.p-12
						
						.grid.grid-cols.gap-y-4(class="md:grid-cols-2")
							.w-full.flex.flex-col.items-between
								.text-start.text-2xl.min-w-max.leading-tight.black.txtL.bold.lh1.pb-8(class="sm:text-5xl")
									| Pure Wallet isn't merely a crypto wallet 
								.mt-4.mb-2
									p.txtL.sizeLg.leading-tight
										| but a #[span.pureblue comprehensive bridge] 
										| between #[span.pureblue cryptocurrency] and 
										| #[span.pureblue everyday applications], 
										| #[br]paving the way for a #[span.pureblue seamless], #[span.pureblue secure], 
										| and #[span.pureblue cost-effective digital transaction ecosystem].
								.pt-8.text-center(class="sm:text-left")
									+smallbutton('Discover the Ecosystem', '/series/')
							.mx-auto(style="width:60%")
								//- +explains_SVG(2)
								img(src="/img/wallet/wallet_icon.png" alt="")

			//- WALLET 3 SLIDES 
			.relative.purestblueBG
				section.rel.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
					.abs.left0.right0.top0.marLg.pad.txtC
						.test.black.mt-8(style="width:300px;height:25px;" class="sm:mt-20").txtC
							+pureseries_SVG('wallet')
					.flex.flex-wrap.flex-col.gap-y-4.flex-col-reverse(class="sm:flex-row")
						.relative.pt-0(style="top:-230px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
							.txtL.puretranspBG.black.sizeLg.p-8.rounded-lg
								h2.sizeXXXXLg.bold.mt-0.mb-6.min-w-max.leading-tight
									| Effective #[br] Payment Process 
								
								.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
									.mt-4.mb-2
										p.mt-4
											| Provides a more #[b efficient and streamlined] #[br] payment processing system
											| #[br] with #[b lower transaction costs] using #[br] our #[b exclusive blockchain] technology.
											| #[br] #[br] Suitable for #[b micropayments, bulk Retail], 
											| #[br] and payments that require the #[b highest security].
							//- +normalbutton('Download', null, null, null, null, 'download')
						.phoneshot.pt-0(class="w-full sm:w-2/5")
							.p-8
								.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
									img.mt-10.object-fill(src="/img/wallet/phone_screen_01.png", alt="")
			.relative.purestblueBG
				section.rel.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
					.abs.left0.top0.marLg
						+pureseries_SVG('wallet')
					.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row")
						.phoneshot.pt-0(class="w-full sm:w-2/5")
							.p-8
								.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
									img.mt-10.object-fill(src="/img/wallet/phone_screen_02.png", alt="")
						.relative.pt-0(style="top:-230px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
							.txtR.puretranspBG.black.sizeLg.p-8.rounded-lg
								h2.sizeXXXXLg.bold.mt-0.mb-6.min-w-max.leading-tight
									| Offline Mobile #[br] Electronic Wallet
								.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
									.mt-4.mb-2
										p.mt-4.txtR
											| Enables #[b access] to #[b modern financial services] 
											| #[br]even in #[b limited infrastructure environments]. 
											| #[br]#[br] Economically empowers emerging countries 
											| #[br] through #[b offline banking] functions, 
											| #[br] providing the opportunity 
											| #[br] to gracefully enter the #[b global digital economy].
							//- +normalbutton('Download', null, null, null, null, 'download')
			.relative.purestblueBG
				section.rel.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
					.flex.flex-wrap.flex-col.gap-y-4.flex-col-reverse(class="sm:flex-row")
						.relative.pt-0(style="top:-230px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
							.txtL.puretranspBG.black.sizeLg.p-8.rounded-lg
								h2.sizeXXXXLg.bold.mt-0.mb-6.min-w-max.leading-tight
									| Hardware-Free #[br] Cold Storage 
								.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
									.mt-4.mb-2
										p.mt-4
											| Pure Wallet provides an #[b Offline Token-based]
											| #[br]rather than the commonly used Hardware-based #[b Cold Storage] method.
											| #[br] #[br] Generally hard-wallets need#[br] hardware in order to #[b get crypto] #[br]in the physical world.  
											| #[br]But this #[b Cold Storage] allows it #[br] #[b without need for any hardware].

							//- +normalbutton('Download', null, null, null, null, 'download')
						.phoneshot.pt-0(class="w-full sm:w-2/5")
							.p-8
								.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
									img.mt-10.object-fill(src="/img/wallet/phone_screen_03.png", alt="")
			
			
			
			- let advintro = wallet_advantages_content.data.intro ;
			- let advs = wallet_advantages_content.data.whys ;

			//- /////////////////////////////////////////////////////////////////////////////////////////// ADVANTAGES
			.relative.context.lightpureBG.pureline.double
				section.container.mx-auto.left-0.right-0.context.mt-12
					.container.pb-48
						.flex.flex-row.flex-wrap.gap-4
							- let blocks = advintro.blocks ;
							- for(let i = 0 ; i < blocks.length ; i++){
								- let block = blocks[i] ;
								- clname = i == 0 ? "w-2/6" : i == 1 ? "w-3/6" : i == 2 ? "w-3/6" : "w-2/6" ;
								.txtL(class="md:"+clname)
									.padLg.shadow.rounded-lg.flex.flex-col(class= i==0 ? "weirdblueBG white place-content-between" : "black place-content-end", style="min-height:200px")
										- let nnn = (i==0 ? "text-4xl" : "text-2xl") + ' ' + (i==3 ? "mb-8" : "my-8")
										span.block.text-start.min-w-max.lh11(class= nnn)
											!= render('| ' + block.title)
										.sizeLg.txtL
											!= render('| ' + block.intro)
							- }

						.grid.grid-cols-1.mt-8.gap-y-12(class='md:grid-cols-3 md:grid-rows-2 sm:gap-6 md:mt-8 xl:mt-20')
							- for(let i = 0 ; i < advs.length ; i++){
								- let why = advs[i] ;
								.flex.flex-row.gap-3.txtL.flex-wrap.place-items-start.items-center.p-4.whiteBG.shadow.rounded-xl.txtC(class='md:gap-x-0 md:flex-col').place-content-between
									flex.grow-0.shrink-0.aspect-square.w-16.h-16.items-center.justify-center.pureblue
										+icons_why_SVG(why.name)
									.text-lg.lh12.capitalize.tracking-tight.purecolor.bold.grow
										!= render('| ' + why.desc.title)
									span.block.font-normal.leading-6(class='md:p-y-2 xl:p-y-6').txtJ
										!= render('| ' + why.desc.content)
							- }
			//-///////////////////////////START EXPERIENCE NOW
			.relative
				section.mx-auto.left-0.right-0.container.pb-24.pt-24
					.mb-16.purecolor(style="max-width:500px")
						+pureseries_SVG('wallet')
					
					h3.black.txtL.text-5xl.mt-0.mb-12.min-w-max.leading-tight
						| Start your Crypto Experience now
					.flex.flex-col.grid-cols-12(class='md:grid')
						.flex.flex-row.mt-12(class='md:col-span-12').flex-row-reverse.purecolor
							+getitboth()