extends ./layout
block content
	//- 
	.fullpage.fullH.flowhidden
		include pages/home_walletpage

	.fullpage.fullH.flowhidden
		include pages/home_chainpage

	.fullpage.fullH.flowhidden
		include pages/home_seriespage
					
	.fullpage.fullH.flowhidden
		include pages/home_worldpage