extends ./layout
block content
	//- 
	.extractable.fullpage.fullH.flowhidden
		include pages/home_walletpage

	.extractable.fullpage.fullH.flowhidden
		include pages/home_chainpage

	.extractable.fullpage.fullH.flowhidden
		include pages/home_seriespage
					
	.extractable.fullpage.fullH.flowhidden
		include pages/home_worldpage