extends ./layout
block content
	.extractable.fullpage
		
		.main-theme.flex.flex-col.bg-main.min-h-full.en(style="margin-top:130px")
			.relative.z-10.pt-24.pb-24(class='sm:pt-8 ').whiteBG
				section.container.mx-auto.left-0.right-0.section-margin
					.test.purecolor.rel(style="height:45px;top:-30px")
						+pureseries_SVG('wallet')
					.flex.flex-row.w-full
						.txtL.w-full(class="sm:w-2/5")
							h1.black.text-end.text-5xl.mt-0.min-w-max.leading-tight.bold
								| Offline Blockchain #[br]Mobile Wallet
						.nonez(class="sm:grid sm:w-3/5").rel
							.abs.top0.bottom0.left0.right0 
								.imgBG.fullW.fullH.cover(style="background-image:url(/img/wallet/phone_wallet.png); height:600px;background-position:50% 50%;")
									//
							//- h2.purecolor.text-start.text-5xl.mt-0.mb-6.min-w-max.leading-tight.txtR
								| Beyond just #[br] a Crypto Wallet 
							//- .TmarLg.txtR
								+smallbutton("Discover the Wallet", null, null, undefined, 'discover')
							

					.flex.flex-col.rel(class="sm:flex-row")
						.flex.flex-col.grid-cols-8(class='sm:w-3/5 md:grid')
							.flex.flex-col.place-items-start.txtL.col-span-6
								.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
									
									.mt-4.mb-2.sizeLg(class='md:mt-4').black
										h3.sizeLg.bolder.purecolor
											| Effective Payment process
										p.mt-4.sizeSm(style="max-width:450px")
											| Utilizing our exclusive blockchain technology to offer more efficient and streamlined payment processes with lower transactions costs.
									.mt-4.mb-2.sizeLg(class='md:mt-4').black
										h3.sizeLg.bolder.purecolor
											| Mobile Electronic Wallet
										p.mt-4.sizeSm(style="max-width:450px")
											| Supporting access to modern financial services in limited infastructure environments and providing economic empowerment to emerging nations through offline and baking functionnalities, thereby offering opportunities to enter the digital economy.
									.mt-4.mb-2.sizeLg(class='md:mt-4').black
										h3.sizeLg.bolder.purecolor
											| Hardware-Free Cold Storage
										p.mt-4.sizeSm(style="max-width:450px")
											| Hardware no longer needed for crypto finance through our innovative Cold Storage method.
							.flex.flex-col.mt-12.purecolor(class='md:col-span-7')
								+getitboth()
						.qrs.flex.flex-row.place-content-between.gap-x-8.place-items-end(class="sm:place-content-end")
							.qr.w-40.h-40.whiteBG.pad.rounded-lg.shadow.purecolor
								+QRCode_SVG()
							.qr.w-40.h-40.whiteBG.pad.rounded-lg.shadow.purecolor
								+QRCode_SVG()

			.relative.darkblueBG
				section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
					.purestblueBG.rounded-2xl.p-12
						
						.grid.grid-cols.gap-y-4(class="md:grid-cols-2")
							.w-full.flex.flex-col.items-between
								.text-start.text-2xl.min-w-max.leading-tight.black.txtL.bold.lh1.pb-8(class="sm:text-5xl")
									| Pure Wallet isn't merely a crypto wallet 
								.mt-4.mb-2
									p.txtL.sizeLg.leading-tight
										| but a #[span.pureblue comprehensive bridge] 
										| between #[span.pureblue cryptocurrency] and 
										| #[span.pureblue everyday applications], 
										| #[br]paving the way for a #[span.pureblue seamless], #[span.pureblue secure], 
										| and #[span.pureblue cost-effective digital transaction ecosystem].
								.pt-8.text-center(class="sm:text-left")
									+smallbutton('Discover the Ecosystem', '/series/')
							.mx-auto(style="width:60%")
								+explains_SVG(2)

			//- WALLET 3 SLIDES 
			.relative.purestblueBG
				section.rel.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
					.abs.left0.right0.top0.marLg.pad.txtC
						.test.black.mt-8(style="width:300px;height:25px;" class="sm:mt-20").txtC
							+pureseries_SVG('wallet')
					.flex.flex-wrap.flex-col.gap-y-4.flex-col-reverse(class="sm:flex-row")
						.relative.pt-0(style="top:-230px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
							.txtL.puretranspBG.black.sizeLg.p-8.rounded-lg
								h2.sizeXXXXLg.bold.mt-0.mb-6.min-w-max.leading-tight
									| Effective #[br] Payment Process 
								
								.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
									.mt-4.mb-2
										p.mt-4
											| Provides a more #[b efficient and streamlined] #[br] payment processing system
											| #[br] with #[b lower transaction costs] using #[br] our #[b exclusive blockchain] technology.
											| #[br] #[br] Suitable for #[b micropayments, bulk Retail], 
											| #[br] and payments that require the #[b highest security].
							//- +normalbutton('Download', null, null, null, null, 'download')
						.phoneshot.pt-0(class="w-full sm:w-2/5")
							.p-8
								.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
									img.mt-10.object-fill(src="/img/wallet/phone_screen_01.png", alt="")
			.relative.purestblueBG
				section.rel.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
					.abs.left0.top0.marLg
						+pureseries_SVG('wallet')
					.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row")
						.phoneshot.pt-0(class="w-full sm:w-2/5")
							.p-8
								.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
									img.mt-10.object-fill(src="/img/wallet/phone_screen_02.png", alt="")
						.relative.pt-0(style="top:-230px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
							.txtR.puretranspBG.black.sizeLg.p-8.rounded-lg
								h2.sizeXXXXLg.bold.mt-0.mb-6.min-w-max.leading-tight
									| Offline Mobile #[br] Electronic Wallet
								.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
									.mt-4.mb-2
										p.mt-4.txtR
											| Enables #[b access] to #[b modern financial services] 
											| #[br]even in #[b limited infrastructure environments]. 
											| #[br]#[br] Economically empowers emerging countries 
											| #[br] through #[b offline banking] functions, 
											| #[br] providing the opportunity 
											| #[br] to gracefully enter the #[b global digital economy].
							//- +normalbutton('Download', null, null, null, null, 'download')
			.relative.purestblueBG
				section.rel.mx-auto.left-0.right-0.container.py-0(class="sm:py-24")
					.flex.flex-wrap.flex-col.gap-y-4.flex-col-reverse(class="sm:flex-row")
						.relative.pt-0(style="top:-230px" class="w-full sm:w-3/5 lg:w-2/5 sm:pt-48 sm:static")
							.txtL.puretranspBG.black.sizeLg.p-8.rounded-lg
								h2.sizeXXXXLg.bold.mt-0.mb-6.min-w-max.leading-tight
									| Hardware-Free #[br] Cold Storage 
								.mt-0.max-w-fit(class='md:mt-0 2xl:mt-0')
									.mt-4.mb-2
										p.mt-4
											| Pure Wallet provides an #[b Offline Token-based]
											| #[br]rather than the commonly used Hardware-based #[b Cold Storage] method.
											| #[br] #[br] Generally hard-wallets need#[br] hardware in order to #[b get crypto] #[br]in the physical world.  
											| #[br]But this #[b Cold Storage] allows it #[br] #[b without need for any hardware].

							//- +normalbutton('Download', null, null, null, null, 'download')
						.phoneshot.pt-0(class="w-full sm:w-2/5")
							.p-8
								.mt-0.mb-12.pt-10.leading-tight.flex.flex-col.gap-8.mx-auto.place-items-center
									img.mt-10.object-fill(src="/img/wallet/phone_screen_03.png", alt="")
			
			
			//- STEPS TO START
			//- .relative.purelightestblueBG
				section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-24")
					.text-start.text-5xl.mt-12.min-w-max.leading-tight.thin.dark.txtL(class="w-full")
						| Start your finances #[br] in no time
					.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col.items-center(class="sm:flex-row")
						.pt-12(class="w-full sm:w-3/5 sm:p-10 md:p-10 lg:p-16")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh15.items-center.flex-wrap
								span.p-4.rounded-full.pureblueBG.white.sizeXXLg #1.
								p.sizeXLg.txtR.pureblue
									| #[b.bold.lsXSm Download] #[br] the App
								p.mx-auto.grid.grid-flow-col.purecolor(class="sm:block")
									+getit('google')
									+getit('apple') 
						.pt-0.p.nonez(class="w-full sm:block sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
							+explains_SVG(0)
					.flex.flex-wrap.flex-col.gap-y-4.flex-col.items-center(class="sm:flex-row")
						.pt-0.p.nonez(class="w-full sm:block sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
							+explains_SVG(1)
						
						.pt-12(class="w-full sm:w-3/5 sm:p-10 md:p-10 lg:p-16")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh15.items-center
								span.p-4.rounded-full.pureblueBG.white.sizeXXLg #2.
								p.sizeXLg.txtL.pureblue
									| #[b.bold.lsXSm Create an Account]
									| #[br] and get your #[br]
									| #[b.bold.lsXSm Cold Storage Upgrade]
					.flex.flex-wrap.flex-col.gap-y-4.flex-col.items-center(class="sm:flex-row")
						.pt-24(class="w-full sm:w-3/5 sm:p-10 md:p-10 lg:p-16")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh15.items-center
								span.p-4.rounded-full.pureblueBG.white.sizeXXLg #3.
								p.sizeXLg.txtR.pureblue
									| #[b.bold.lsXSm Fill the Wallet] 
									| #[br] with your #[br]Crypto-currencies
						.pt-0.p.nonez(class="w-full sm:block sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
							+explains_SVG(2)
										
					.flex.flex-wrap.flex-col.gap-y-4.flex-col.items-center(class="sm:flex-row")
						.pt-0.p.nonez(class="w-full sm:block sm:w-2/5 sm:p-10 md:p-10 lg:p-24")
							+explains_SVG(3)
						
						.pt-24(class="w-full sm:w-3/5 sm:p-10 md:p-10 lg:p-16")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-8.lh15.items-center
								span.p-4.rounded-full.pureblueBG.white.sizeXXLg #4.
								p.sizeXLg.txtL.pureblue
									| #[b.bold.lsXSm Start sending and receiving]
									| #[br] with Security 
									| #[br] and Convenience
			
			
			//- BETTER CRYPTO EXPERIENCE
			
			//- .relative.purecolorBG.white
				section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-8").rel.basetoggle
					.text-start.text-5xl.mt-12.min-w-max.leading-tight.thin.txtL(class="w-full")
						| A Better Crypto Experience
					.text.TmarXLg.txtL(style="margin-bottom:100px") 
						| With Pure wallet, feel the relief of maintaining your finances with the modern Web3 power, #[br]but without the hustle of other available systems.  
					.abs.right0.bottom0.sizeXXXLg.lh1
						p.block.sizeXXXLg 
							span(style="font-size: 10em;opacity: .1;") 1
					.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row").rel.context
						.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-y-8.place-content-between.lh1.items-center.flex-wrap
								.flex.flex-col-2.gap-x-4.items-center
									span.p-4.rounded-full.pureblueBG.purecolor.sizeXXLg issue #1
									span.flex.place-content-end
										p.sizeSm Breaking the barrier
								p.pl-4.sizeXLg.txtL.leading-tight.pureblue
									| High Crypto 
									| #[br]Transaction Costs
								.toggler.place-content-end.Rpad
									+normalbutton('More', '', null, 'whiteBG purecolor btn')
						.mt-10.w-full(class="sm:w-2/5 sm:-mt-8").hidez.toggled
							.txtJ.Tmar.sizeLg.p-6.purestblue.puregradBG.rounded-lg
								| Pure Wallet #[b.white drastically cuts] the #[b.white high fees] of 
								| crypto transactions - averaging #[b.white $1.50] and 
								| totaling #[b.white $28B yearly] - by #[b.white up to 90%] with our 
								| #[b.white offline transaction solution]. This breakthrough 
								| reduces costs for daily crypto use and opens 
								| the door for increased mainstream 
								| adoption, #[b.white setting Pure Wallet apart] as both 
								| an #[b.white innovative platform] and a #[b.white prime investment opportunity].
			//- .relative.purestblueBG
				section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-8").rel.basetoggle
					.abs.left0.bottom0.sizeXXXLg.lh1
						p.block.sizeXXXLg 
							span(style="font-size: 10em;opacity: .1;") 2
					.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row-reverse")
						.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-y-8.place-content-between.lh1.items-center.flex-wrap.flex-row-reverse
								.flex.flex-col-2.gap-x-4.items-center.flex-row-reverse
									span.p-4.rounded-full.pureblueBG.purestblue.sizeXXLg issue #2
									span.flex.place-content-end
										p.sizeSm Speeding Things Up
								p.pl-4.sizeXLg.txtR.leading-tight.pureblue
									| Slow Crypto 
									| #[br]Transactions
								.toggler.place-content-end.Lpad
									+normalbutton('More', '', null, 'purecolorBG white', true)
						.mt-10.w-full(class="sm:w-2/5 sm:-mt-8").hidez.toggled
							.txtJ.sizeLg.p-6.purelightestblueDownBG.rounded-lg
								| #[b.dark Transaction times] for Ethereum and Bitcoin can greatly 
								| vary, with #[b.dark Ethereum] transactions taking #[b.dark up to 5 minutes] 
								| and #[b.dark Bitcoin] transactions #[b.dark as long as 1.5 hours], 
								| and even longer during network congestion. Pure Wallet 
								| addresses this with an #[b.pureblue innovative payment system] 
								| capable of processing transactions #[b.pureblue in a millisecond], 
								| boasting a capacity of #[b.pureblue over 1 million TPS]. This 
								| advancement positions Pure Wallet as a #[b.pureblue key solution] for 
								| #[b.pureblue reliable and instantaneous] crypto payments, and will 
								| significantly #[b.pureblue expand the use cases] for cryptocurrency in 
								| everyday transactions and open up new markets.
			//- .relative.purelightestblueBG
				section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-8").rel.basetoggle
					.abs.right0.bottom0.sizeXXXLg.lh1
						p.block.sizeXXXLg 
							span(style="font-size: 10em;opacity: .1;") 3
					.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row")
						.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-y-8.place-content-between.lh1.items-center.flex-wrap
								.flex.flex-col-2.gap-x-4.items-center
									span.p-4.rounded-full.pureblueBG.purelightestblue.sizeXXLg issue #3
									span.flex.place-content-end
										p.sizeSm Bridging the Gap
								p.pl-4.sizeXLg.txtL.leading-tight.pureblue
									| From Crypto #[br]Wealth
									| #[br]to Real-World#[br] Assets
								.toggler.place-content-end.Rpad
									+normalbutton('More', '', null, 'whiteBG purecolor')
						.mt-10.w-full(class="sm:w-2/5 sm:-mt-8").hidez.toggled
							.txtJ.sizeLg.p-6.purelightestblueDownBG.rounded-lg
								| #[b.dark Pure Loan] : Transforming Crypto into 
								| #[b.pureblue Real-World Value]. Pure Wallet's
								| innovative Pure Loan program enables
								| the use of crypto assets for significant 
								| #[b.dark real-world purchases], offering users 
								| with crypto wealth but limited cash or 
								| credit flexible #[b.pureblue innovative financing options]. 
								| Starting with #[b.pureblue auto financing] and 
								| planning to expand, Pure Loan embodies 
								| Pure Wallet's mission to #[b.pureblue bridge] digital 
								| and traditional #[b.pureblue finance], promising vast 
								| #[b.pureblue growth opportunities] for investors.
			//- .relative.purestblueBG
				section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-8").rel.basetoggle
					.abs.left0.bottom0.sizeXXXLg.lh1
						p.block.sizeXXXLg 
							span(style="font-size: 10em;opacity: .1;") 4
					.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row-reverse")
						.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-y-8.place-content-between.lh1.items-center.flex-wrap.flex-row-reverse
								.flex.flex-col-2.gap-x-4.items-center.flex-row-reverse
									span.p-4.rounded-full.pureblueBG.purestblue.sizeXXLg issue #4
									span.flex.place-content-end
										p.sizeSm Enhancing Security
								p.pl-4.sizeXLg.txtR.leading-tight.pureblue
									| Combating Crypto #[br]Vulnerabilities
									| #[br]with PureWallet
								.toggler.place-content-end.Lpad
									+normalbutton('More', '', null, 'whiteBG purecolor', true)
						.mt-10.w-full(class="sm:w-2/5 sm:-mt-8").hidez.toggled
							.txtJ.sizeLg.p-6.purelightestblueDownBG.rounded-lg
								| Pure Wallet #[b.dark elevates security] in the crypto 
								| space with its #[b.pureblue integrated cold storage], an 
								| industry-first feature, responding to the 
								| industry's substantial losses to hackers. Our 
								| #[b.pureblue unique offline technology] simplifies advanced 
								| security, making it accessible #[b.pureblue without external devices]. 
								| This innovation not only #[b.pureblue enhances user convenience] but also significantly 
								| #[b.pureblue improves asset protection], presenting a 
								| strong case for investment.
			//- .relative.purecolorBG.white
				section.mx-auto.left-0.right-0.container.context.py-24(class="sm:py-8").rel.basetoggle
					.abs.right0.bottom0.sizeXXXLg.lh1
						p.block.sizeXXXLg 
							span(style="font-size: 10em;opacity: .1;") 5
					.pt-12.flex.flex-wrap.flex-col.gap-y-4.flex-col(class="sm:flex-row")
						.pt-12.w-full(class="sm:w-2/5 sm:p-10 md:p-10 lg:p-0")
							.mt-4.mb-2.sizeXXLg.flex.flex-col-2.gap-y-8.place-content-between.lh1.items-center.flex-wrap
								.flex.flex-col-2.gap-x-4.items-center
									span.p-4.rounded-full.pureblueBG.purecolor.sizeXXLg issue #5
									span.flex.place-content-end
										p.sizeSm Introducing OffToken API
								p.pl-4.sizeXLg.txtL.leading-tight.pureblue
									| Solving Crypto's
									| #[br]Payment Dilemma
								.toggler.place-content-end.Rpad
									+normalbutton('More', '', null, 'whiteBG purecolor')
						.mt-10.w-full(class="sm:w-2/5 sm:-mt-8").hidez.toggled
							.txtJ.sizeLg.p-6.puregradBG.rounded-lg.purestblue
								| Pure Wallet's #[b.white OffToken API] marks a #[b.white significant leap] in 
								| cryptocurrency payment systems by incorporating 
								| our patented technology universally. It addresses 
								| critical issues like #[b.white high fees], #[b.white slow speeds], and 
								| #[b.white energy-intensive mining], making crypto 
								| transactions #[b.white faster], more #[b.white efficient], and 
								| #[b.white eco-friendly]. This expansion broadens Pure Wallet's 
								| ecosystem, ensuring #[b.white transactions] are #[b.white accessible and cost-effective], 
								| fostering widespread crypto 
								| adoption as a #[b.white practical payment solution], 
								| enhancing user experience, and boosting our 
								| platform's #[b.white profitability] and #[b.white transaction volume].
			
			
			- let advintro = wallet_advantages_content.data.intro ;
			- let advs = wallet_advantages_content.data.whys ;

			//- /////////////////////////////////////////////////////////////////////////////////////////// ADVANTAGES
			.relative.context.lightpureBG.pureline.double
				section.container.mx-auto.left-0.right-0.context.mt-12
					.container.pb-48
						span.block.black.text-start.text-5xl.mt-24.mb-12.min-w-max.leading-10
							!= render('| ' + advintro.title)
						.sizeXLg.dark.mx-auto(style="max-width:470px").txtC.lh11
							!= render('| ' + advintro.intro)
						.grid.grid-cols-1.mt-8.gap-y-12(class='md:grid-cols-3 md:grid-rows-2 sm:gap-6 md:mt-8 xl:mt-20')
							
							- for(let i = 0 ; i < advs.length ; i++){
								- let why = advs[i] ;
								.flex.flex-row.gap-3.txtL.flex-wrap.place-items-start.items-center.p-4.whiteBG.shadow.rounded-xl.txtC(class='md:gap-x-0 md:flex-col').place-content-between
									flex.grow-0.shrink-0.aspect-square.w-16.h-16.items-center.justify-center.pureblue
										+icon_others_SVG('computer')
									.text-lg.leading-tight.capitalize.tracking-tight.purecolor.bold.grow
										!= render('| ' + why.desc.title)
									span.block.font-normal.leading-6(class='md:p-y-2 xl:p-y-6').txtJ
										!= render('| ' + why.desc.content)
							- }
			//-///////////////////////////START EXPERIENCE NOW
			.relative
				section.mx-auto.left-0.right-0.container.pb-24.pt-24
					.mb-16.purecolor(style="max-width:500px")
						+pureseries_SVG('wallet')
					
					h2.black.txtL.text-5xl.mt-0.mb-12.min-w-max.leading-tight
						| Start your Crypto Experience now
					.flex.flex-col.grid-cols-12(class='md:grid')
						.flex.flex-row.mt-12(class='md:col-span-12').flex-row-reverse.purecolor
							+getitboth()